@import "../variables";

.about-us {
   .upper-section {
        background-color:  $light-green;
        padding: 20px 0;
        @media screen and (min-width: $tablet) {
            padding: 30px 0;
        }
        @media screen and (min-width: $full) {
            background-color: none;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 118.5px 0;
        }
        &__banner {
            @media screen and (min-width: $full) {
                width: 823px;
            }
        }
        &__heading {
            font-size: 30px;
            margin-bottom: 10px;
            @media screen and (min-width: $tablet) {
                font-size: 45px;
                margin-bottom: 14px;
            }
            @media screen and (min-width: $full) {
                font-size: 60px;
                margin-bottom: 24px;
            }
        }
        &__sub-titles {
            display: grid;
            grid-template-columns: 1fr 1fr;
            @media screen and (min-width: $tablet) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 24px;
            }
            @media screen and (min-width: $full) {
                column-gap: 36px;
                row-gap: 16px;
            }
            .sub-title {
                display: flex;
                align-items: baseline;
                gap: 10px;
                font-weight: 800;
                font-size: 16px;
                line-height: 1;
                color: $primary-color;
                padding: 4px 0;
                @media screen and (min-width: $tablet) {
                    font-size: 20px;
                    padding: 7.5px 0;
                }
                @media screen and (min-width: $full) {
                    padding: 0;
                }
                &-svg {
                    width: 14px;
                    height: 12px;
                    @media screen and (min-width: $full) {
                        width: 18px;
                        height: 16px;
                    }
                }
            }  
        }
    }
    .club-section {
        background-color: $background;
        &__heading {
            margin-bottom: 16px;
            @media screen and (min-width: $tablet){
                display: flex;
                align-items: baseline;
                gap: 8px;
                margin-bottom: 24px; 
            }
            @media screen and (min-width: $desktop){
                gap: 12px;
                margin-bottom: 40px; 
            }
            .heading-svg {
                display: none;
                @media screen and (min-width: $tablet) {
                    display: initial;
                    width: 26.32px;
                    height: 23.53px;
                }
                @media screen and (min-width: $desktop) {
                    width: 36.85px;
                    height: 32.94px;
                }
            }   
        }
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 16px;
            @media screen and (min-width: $tablet) {
                row-gap: 24px;
            }
            @media screen and (min-width: 1177px) {
                grid-template-columns: 552.5px 552.5px;
                grid-template-rows: auto auto;
                gap: 24px;
                width: 1128px;
                margin: 0 auto;
            }
            .top, .bottom {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 24px;
                @media screen and (min-width: 1177px) {
                    display: contents;
                }
                .club-img-1, .club-img-2 {
                    height: 462px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        object-fit: cover; 
                    }
                }
                .club-info-1, .club-info-2 {
                    background-color: $white;
                    border-radius: 10px;
                    padding: 24px;
                }
                .text {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.31;
                    @media screen and (min-width: $tablet) {
                        font-size: 20px;
                        line-height: 1.25;
                    }
                }
                .club-info-2 {
                    .club-info-bold {
                        margin-top: 24px;
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: 24px;
                        @media screen and (min-width: $tablet) {
                            gap: 0;
                        }
                        p {
                            font-weight: 800;
                            font-size: 16px;
                            color: $black;
                            @media screen and (min-width: $tablet) {
                                font-size: 20px;
                                line-height: 1;
                            } 
                        }    
                    }
                }
                .club-img-1 {
                    @media screen and (min-width: 1177px) {
                        grid-column: 2 / 3; 
                        grid-row: 1 / 2; 
                    } 
                }
                .club-info-1 {
                    @media screen and (min-width: 1177px) {
                        grid-column: 1 / 2; 
                        grid-row: 1 / 2; 
                    }  
                }
                .club-img-2 {
                    @media screen and (min-width: 1177px) {
                        grid-column: 1 / 2; 
                        grid-row: 2 / 3; 
                    } 
                }
                .club-info-2 {
                    @media screen and (min-width: 1177px) {
                        grid-column: 2 / 3; 
                        grid-row: 2 / 3; 
                    }  
                }
            }    
        }
    }
    .map-section {
        background-color: $background;
        @media screen and (min-width: $tablet) {
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__heading {
            margin-bottom: 16px;
            @media screen and (min-width: $tablet){
                display: flex;
                align-items: baseline;
                gap: 8px;
                margin-bottom: 32px; 
            }
            @media screen and (min-width: $desktop){
                gap: 12px;
                margin-bottom: 40px; 
            }
            .heading-svg {
                display: none;
                @media screen and (min-width: $tablet) {
                    display: initial;
                    width: 26.32px;
                    height: 23.53px;
                }
                @media screen and (min-width: $desktop) {
                    width: 36.85px;
                    height: 32.94px;
                }
            }   
        }
        &__small-wrapper {
            background-color: #fff;
            width: 100%;
            border-radius: 10px;
            margin: 0 auto;
            padding: 24px;
            @media screen and (min-width: $tablet) {
                display: none;
            }  
        }
        &__description {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.31;
        } 
        &__button {
            margin-top: 24px;
            gap: 8px;
            &-svg {
                fill: currentColor;
            }
        }
        &__big-wrapper {
            display: none;
            @media screen and (min-width: $tablet) {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 690px;
            }
            @media screen and (min-width: $full) {
                min-width: 1296px;
                margin-left: -84px;
            }
            .map-img {
                @media screen and (min-width: $tablet) {
                    position: relative;
                }
                img {
                    @media screen and (min-width: $tablet) {
                        width: 100%;
                    }    
                }
                .map-img-capture {
                    @media screen and (min-width: $tablet) {
                        position: absolute;
                        width: 167px;
                        bottom: 28px;
                        left: 50px;
                        z-index: 1;   
                    }
                    @media screen and (min-width: 992px) {
                        bottom: 80px;
                        left: 80px;
                    }
                    @media screen and (min-width: 1440px) {
                        bottom: 100px;
                        left: 90px;
                    }
                    @media screen and (min-width: $full) {
                        width: 223px;
                        bottom: 172px;
                        left: 125px;
                    }
                    img {
                        @media screen and (min-width: $tablet) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}