.breeds-heading-svg {
  display: none;
}
@media screen and (min-width: 768px) {
  .breeds-heading-svg {
    display: initial;
    width: 27.14px;
    height: 24.29px;
  }
}
@media screen and (min-width: 1439px) {
  .breeds-heading-svg {
    display: initial;
    width: 38px;
    height: 34px;
  }
}

.breeds-first-section {
  background-color: #cfe4e6;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .breeds-first-section {
    padding: 30px 0;
  }
}
@media screen and (min-width: 1439px) {
  .breeds-first-section {
    background-color: none;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 377px;
    padding: 136.5px 0;
  }
}
.breeds-first-section__heading {
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .breeds-first-section__heading {
    font-size: 45px;
  }
}
@media screen and (min-width: 1439px) {
  .breeds-first-section__heading {
    margin-bottom: 24px;
    font-size: 60px;
  }
}
.breeds-first-section__heading-svg {
  color: #045c6f;
}
@media screen and (min-width: 1439px) {
  .breeds-first-section__heading-svg {
    width: 18px;
    height: 16px;
  }
}
.breeds-first-section__subtitle-heading {
  display: flex;
  align-items: baseline;
  color: #045c6f;
  gap: 4px;
  font-size: 16px;
  font-weight: 800;
  line-height: 1;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .breeds-first-section__subtitle-heading {
    gap: 10px;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .breeds-first-section__subtitle-heading-wrapper {
    display: flex;
    gap: 24px;
  }
}
@media screen and (min-width: 1439px) {
  .breeds-first-section__subtitle-heading-wrapper {
    gap: 36px;
    height: 20px;
  }
}

@media screen and (min-width: 1439px) {
  .about-breeds-section {
    padding: 40px 0;
  }
}
.about-breeds-section__heading {
  margin-bottom: 24px;
}
@media screen and (min-width: 1439px) {
  .about-breeds-section__heading {
    margin-bottom: 40px;
    height: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .about-breeds-section__content {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
  }
}
.about-breeds-section__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 24px;
  color: #070707;
}
@media screen and (min-width: 768px) {
  .about-breeds-section__text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .about-breeds-section__text {
    width: calc(50% - 12px);
  }
}
.about-breeds-section__img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
@media screen and (min-width: 1024px) {
  .about-breeds-section__img {
    width: calc(50% - 12px);
  }
}

.breeds-catalogue-section {
  background-color: #cfe4e6;
}
.breeds-catalogue-section__list {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .breeds-catalogue-section__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 24px auto 0 auto;
    width: 704px;
  }
}
@media screen and (min-width: 1439px) {
  .breeds-catalogue-section__list {
    width: 1128px;
  }
}
.breeds-catalogue-section__filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
}
.breeds-catalogue-section__filter-text {
  font-size: 16px;
}
@media screen and (min-width: 375px) {
  .breeds-catalogue-section__filter-text {
    font-size: 20px;
  }
}
.breeds-catalogue-section__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .breeds-catalogue-section__pagination {
    margin-top: 24px;
    gap: 54px;
  }
}
@media screen and (min-width: 1439px) {
  .breeds-catalogue-section__pagination {
    margin-top: 32px;
  }
}
.breeds-catalogue-section__pagination-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.breeds-catalogue-section__pagination-button {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  background-color: #045c6f;
  border: 1px solid #fff;
}
.breeds-catalogue-section__pagination-button.is-active {
  color: #045c6f;
  background-color: #fff;
  border: 1px solid #045c6f;
}
.breeds-catalogue-section__pagination-button:disabled {
  cursor: not-allowed;
}
.breeds-catalogue-section__pagination-button:hover {
  border: 1px solid #045c6f;
}
.breeds-catalogue-section__pagination-right, .breeds-catalogue-section__pagination-left {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 8px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: #045c6f;
  color: #fff;
}
.breeds-catalogue-section__pagination-right:enabled:hover, .breeds-catalogue-section__pagination-left:enabled:hover {
  color: #045c6f;
  background-color: #fff;
}
.breeds-catalogue-section__pagination-right:disabled, .breeds-catalogue-section__pagination-left:disabled {
  cursor: not-allowed;
  color: #045c6f;
  background-color: #fff;
}
.breeds-catalogue-section .choices {
  background-color: #fff;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  color: #045c6f;
  font-family: "Nunito", sans-serif;
  margin: 0;
}
.breeds-catalogue-section .choices.is-focused .choices__inner, .breeds-catalogue-section .choices.is-open .choices__inner {
  border-radius: 10px;
}
.breeds-catalogue-section .choices.is-open::after {
  transform: rotate(180deg);
}
.breeds-catalogue-section .choices::after {
  border: none;
  width: 12px;
  height: 12px;
  background-color: #045c6f;
  border-radius: 4px;
  margin-top: -6px;
  background-image: url(../../../assets/images/ic_round-arrow-left.svg);
  background-size: cover;
}
.breeds-catalogue-section .choices__inner {
  padding: 6px 26px 6px 6px;
  min-height: auto;
  border: none;
}
.breeds-catalogue-section .choices__item {
  font-size: 16px;
}
.breeds-catalogue-section .choices__list--single {
  padding: 0;
  font-weight: 500;
}
.breeds-catalogue-section .choices__list--dropdown {
  border: none;
  border-radius: 10px;
  top: calc(100% + 6px);
  padding: 6px;
}
.breeds-catalogue-section .choices__list--dropdown .choices__item--selectable {
  padding: 8px 12px;
  border-radius: 10px;
}/*# sourceMappingURL=breeds-cat.css.map */