.heading-section {
  color: #045c6f;
  background-color: #eff8f9;
  padding: 0;
  position: relative;
}
@media screen and (min-width: 1439px) {
  .heading-section {
    background-color: #eff8f9;
  }
}
.heading-section__background-img {
  display: none;
}
@media screen and (min-width: 1439px) {
  .heading-section__background-img {
    display: block;
  }
}
.heading-section__wrapper {
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .heading-section__wrapper {
    padding: 30px 0;
  }
}
@media screen and (min-width: 1439px) {
  .heading-section__wrapper {
    position: absolute;
    background: none;
    top: 123px;
    padding: 0;
    margin: auto;
  }
}
.heading-section__contacts-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 30px;
  line-height: 100%;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .heading-section__contacts-title {
    font-size: 45px;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1439px) {
  .heading-section__contacts-title {
    font-size: 60px;
    margin-bottom: 24px;
  }
}
.heading-section__nav {
  display: flex;
  gap: 24px;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 16px;
  line-height: 100%;
  padding: 4px 0;
}
@media screen and (min-width: 768px) {
  .heading-section__nav {
    font-size: 20px;
    padding: 7.5px 0;
  }
}
@media screen and (min-width: 1439px) {
  .heading-section__nav {
    gap: 36px;
    padding: 0;
  }
}
.heading-section__nav-li-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .heading-section__nav-li a svg {
    width: 14px;
    height: 13px;
  }
}
@media screen and (min-width: 1439px) {
  .heading-section__nav-li a svg {
    width: 18px;
    height: 16px;
  }
}

/*-------------------Section Contacts----------------*/
.contacts-contacts__heading-container,
.socials-contacts__heading-container {
  display: flex;
  align-items: center;
  color: #045c6f;
  font-weight: 800;
  font-size: 26px;
  line-height: 100%;
  margin-bottom: 24px;
}
.contacts-contacts__heading-container svg,
.socials-contacts__heading-container svg {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts-contacts__heading-container svg,
  .socials-contacts__heading-container svg {
    display: block;
    width: 29px;
    height: 28px;
    fill: #045c6f;
  }
}
@media screen and (min-width: 1439px) {
  .contacts-contacts__heading-container svg,
  .socials-contacts__heading-container svg {
    display: block;
    width: 41px;
    height: 37px;
  }
}
@media screen and (min-width: 768px) {
  .contacts-contacts__heading-container,
  .socials-contacts__heading-container {
    font-size: 30px;
    gap: 8px;
    padding: 6px 0;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1439px) {
  .contacts-contacts__heading-container,
  .socials-contacts__heading-container {
    font-size: 45px;
    gap: 12px;
    margin-bottom: 40px;
    padding: 7.5px 0;
  }
}

.contacts-contacts {
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .contacts-contacts {
    padding: 60px 0 90px;
  }
}
@media screen and (min-width: 1439px) {
  .contacts-contacts {
    padding: 80px 0;
  }
}
@media screen and (min-width: 1439px) {
  .contacts-contacts__contacts-list {
    padding-top: 24px;
  }
}
@media screen and (min-width: 768px) {
  .contacts-contacts__title-value {
    display: flex;
    flex-direction: column;
  }
}
.contacts-contacts__title-value:not(:last-child)::after {
  content: "";
  display: flex;
  width: 100%;
  height: 3px;
  margin-bottom: 16px;
  background-color: #cfe4e6;
}
@media screen and (min-width: 768px) {
  .contacts-contacts__title-value:not(:last-child)::after {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1439px) {
  .contacts-contacts__title-value:not(:last-child)::after {
    margin-bottom: 32px;
  }
}
.contacts-contacts__title-value:not(:last-child) .contacts-contacts__contacts-value {
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .contacts-contacts__title-value:not(:last-child) .contacts-contacts__contacts-value {
    margin-bottom: 21.5px;
  }
}
@media screen and (min-width: 1439px) {
  .contacts-contacts__title-value:not(:last-child) .contacts-contacts__contacts-value {
    margin-bottom: 29px;
  }
}
@media screen and (min-width: 1439px) {
  .contacts-contacts__title-value:last-child .contacts-contacts__contacts-value {
    margin-bottom: 24px;
  }
}
.contacts-contacts__wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .contacts-contacts__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.contacts-contacts__contacts-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  color: #045c6f;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .contacts-contacts__contacts-title {
    font-size: 24px;
    margin-bottom: 0px;
  }
}
.contacts-contacts__contacts-value {
  font-weight: 500;
  font-size: 16px;
  line-height: 131%;
}
@media screen and (min-width: 768px) {
  .contacts-contacts__contacts-value {
    width: 461px;
    font-size: 20px;
    line-height: 125%;
  }
}
@media screen and (min-width: 1439px) {
  .contacts-contacts__contacts-value {
    width: 552px;
  }
}

/*-------------------Section Socials----------------*/
.socials-contacts {
  background-color: #cfe4e6;
  padding: 30px 0 30px;
}
@media screen and (min-width: 768px) {
  .socials-contacts {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1439px) {
  .socials-contacts {
    padding: 80px 0 80px;
  }
}
.socials-contacts__icons-list {
  display: flex;
  justify-content: space-between;
}
.socials-contacts__icon {
  width: 44px;
  height: 44px;
}
@media screen and (min-width: 768px) {
  .socials-contacts__icon {
    width: 68px;
    height: 68px;
  }
}
@media screen and (min-width: 1439px) {
  .socials-contacts__icon {
    width: 101px;
    height: 101px;
  }
}/*# sourceMappingURL=contacts.css.map */