@import "../variables.scss";

.section {
    padding: 0;
    color: $primary-color;

    .list-contacts {
        margin-top: 0;
        &__background{
            margin-top: 0;
            width: 100%;
            background-size: cover;
            background-blend-mode: multiply;
            background-color: $background;
            
            
            @media screen and (min-width: $tablet) {
                
              }
            
            @media screen and (min-width: $desktop) {
                
              }
        }
        &__text-box{
            padding: 20px 0;
            @media screen and (min-width: $tablet) {
                padding: 30px 0;
            }
          
            @media screen and (min-width: $desktop) {
                padding-top: 125px;
                padding-bottom: 152px;
            }
        }
        &__heading{
            font-weight: 800;
            font-size: 30px;
            line-height: 100%;
            margin-bottom: 10px;
            @media screen and (min-width: $tablet) {
                font-size: 45px;
                margin-bottom: 14px;
            }
          
            @media screen and (min-width: $desktop) {
                font-size: 60px;
                margin-bottom: 24px;
            }
        }
        &__contacts-container{
            display: flex;
            gap: 24px;
            @media screen and (min-width: $tablet) {
            
            }
          
            @media screen and (min-width: $desktop) {
                gap: 36px;
            }
        }
        &__link-container{
            display: flex;
            align-items: baseline;
        }
        &__cat-paw{
            svg {
                width: 18px;
                height: 16px;
                fill: $primary-color;
            }
        }
        &__title{
            font-weight: 800;
            font-size: 16px;
            line-height: 100%;
            @media screen and (min-width: $tablet) {
                font-size: 20px;
            }
          
            @media screen and (min-width: $desktop) {
                font-size: 20px;
                margin-bottom: 24px;
            }
        }
    }
}
                            /*-------------------Section Contacts----------------*/
.contacts-contacts, .socials-contacts{

    padding-bottom: 50px;

        &__heading-container {
            display: flex;
            align-items: center;
            font-weight: 800;
            font-size: 26px;
            line-height: 100%;
            padding-top: 30px;
            margin-bottom: 24px;
            svg {
                display: none;
                width: 41px;
                height: 37px;
                fill: $primary-color;
                @media screen and (min-width: $tablet) {
                    display: block;
                    width: 29px;
                    height: 28px;
                }
              
                @media screen and (min-width: $desktop) {
                    display: block;
                    width: 41px;
                    height: 37px;
                }
            }
            @media screen and (min-width: $tablet) {
                padding-top: 60px;
                margin-bottom: 30px;
                font-size: 30px;
                gap: 8px;
            }
          
            @media screen and (min-width: $desktop) {
                padding-top: 80px;
                margin-bottom: 40px;
                font-size: 45px;
                gap: 12px;
            }
        }

        /*-----------------------Grid for contacts list---------------------------*/
        &__contacts-list{
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr;

            @media screen and (min-width: $tablet) {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr 1fr;
            }
          
            @media screen and (min-width: $desktop) {
                /*display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr 1fr;*/
            }

        }

        /*Horizontal lines between elements of contacts list */
        &__contacts-list::before,
        &__contacts-list::after{
            content: "";
            grid-column: 1 / -1;
            height: 3px;
            padding: 0;
            margin: 0;
            background-color: $background;
            
        }
        &__contacts-list::before{
            grid-row: 3;
            margin-top: 16px;

            @media screen and (min-width: $tablet) {
                grid-row: 2 / 3;
                margin-top: 16px;
            }
          
            @media screen and (min-width: $desktop) {
                /*grid-row: 2 / 3;
            margin-top: 16px;*/
            }
        }
        &__contacts-list::after {
            grid-row: 6;
            margin-top: 16px;
            margin-bottom: 16px;

            @media screen and (min-width: $tablet) {
                grid-row: 4 / 5;
                margin-top: 16px;
                margin-bottom: 16px;
            }
          
            @media screen and (min-width: $desktop) {
                /*grid-row: 4 / 5;
                margin-top: 16px;
                margin-bottom: 16px;*/
            }
        }

        &__contacts-title{
            
        }
        &__contacts-value{
            color:$black;
            
        }

@media screen and (min-width: $tablet) {
    padding-bottom: 90px;
}

@media screen and (min-width: $desktop) {
    padding-bottom: 80px;
}
}

                    /*-------------------Section Socials----------------*/

.socials-contacts {
    background-color: $background;
    padding-bottom: 30px;

    &__icons-list{
        display: flex;
        justify-content: space-between;
    }
    &__icon{
        width: 44px;
        height: 44px;

        @media screen and (min-width: $tablet) {
            width: 44px;
            height: 44px;
        }
        
        @media screen and (min-width: $desktop) {
            width: 101px;
            height: 101px;
        }
    }
@media screen and (min-width: $tablet) {
    padding-bottom: 0px;
}

@media screen and (min-width: $desktop) {
    padding-bottom: 80px;
}
}