@import "../variables.scss";

.section {
    padding: 0;
    color: $primary-color;

    .list-contacts {
        margin-top: 0;
        &__background{
            margin-top: 0;
            width: 100%;
            background-size: cover;
            background-blend-mode: multiply;
            background-color: $background;
            
            
        }
        &__text-box{
            padding-top: 125px;
            padding-bottom: 148px;
        }
        &__heading{
            font-weight: 800;
            font-size: 60px;
            line-height: 100%;
            margin-bottom: 24px;
        }
        &__contacts-container{
            display: flex;
            gap: 36px;
        }
        &__link-container{
            display: flex;
            align-items: baseline;
        }
        &__cat-paw{
            svg {
                width: 18px;
                height: 16px;
                fill: $primary-color;
            }
        }
        &__title{
            font-weight: 800;
            font-size: 20px;
            line-height: 100%;
        }
    }

    .contacts-contacts{
        &__heading-container {
            display: flex;
            align-items: center;
            gap: 12px;
            font-weight: 800;
            font-size: 45px;
            line-height: 100%;
            margin-top: 80px;
            margin-bottom: 40px;
            svg {
                width: 42px;
                height: 60px;
                fill: $primary-color;
            }
        }

        /*Grid for cntacts list. To change for adaptive design */
        &__contacts-list{
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 104px;

            /*display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr;*/
        }

        /*Horizontal lines between elements of contacts list */
        &__contacts-list::before,
        &__contacts-list::after{
            content: "";
            grid-column: 1 / -1;
            height: 3px;
            background-color: $background;
            
        }
        &__contacts-list::before{
            grid-row: 2 / 3;
            margin-top: 16px;
        }
        &__contacts-list::after {
            grid-row: 4 / 5;
            margin-top: 16px;
            margin-bottom: 16px;
        }

        &__contacts-title{
            
        }
        &__contacts-value{
            color:$black;
            
        }
    }
}

/*.contacts-contacts__contacts-list::before,
.contacts-contacts__contacts-list::after {
    content: "";
    grid-column: 1 / -1;
    height: 1px;
    background-color: #ccc;
}
.contacts-contacts__contacts-list::before {
    
        grid-row: 2 / 3;
    
}
.contacts-contacts__contacts-list::after {
    grid-row: 4 / 5;
}*/