@import "../variables";

.first__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: $tablet) {
    max-width: $desktop;
    padding: 0 43.5px;
  }

  @media screen and (min-width: $desktop) {
    padding: 0;
  }
}
.first-section {
  &__wrapper {
    @media screen and (min-width: $tablet) {
      display: flex;
      gap: 26px;
      height: 346px;
    }
    @media screen and (min-width: $desktop) {
      gap: 56px;
      height: 680px;
    }
  }
  &__img {
    width: 100%;
    height: 360px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-width: $tablet) {
      height: 100%;
    }
    @media screen and (min-width: $desktop) {
    }
  }

  &__background {
    width: 100%;
    height: 215px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 17px 23px;
    @media screen and (min-width: $tablet) {
      padding: 65px;
      height: 100%;
    }
    @media screen and (min-width: $desktop) {
      padding: 200px 72px;
    }
  }

  &__text-box {
    padding: 16px;
    background-color: $white;
  }
  &__heading {
    margin-bottom: 16px;
  }

  &__info {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 24px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
      font-size: 20px;
    }
  }
}

.partners-section {
  background-color: $background;
  &__heading {
    color: $primary-color;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
    }
  }

  &__button {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    @media screen and (min-width: $tablet) {
      margin-top: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-top: 40px;
    }
  }
}

// slider

.slider {
  overflow: hidden;
  max-width: 1128px;
  margin: 0 auto;
}

.slider .slick-track,
.slider__inner {
  width: 100%;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  @media screen and (min-width: $tablet) {
    background-color: $white;
    gap: 40px;
    border-radius: $big-br;
    overflow: hidden;
  }
  @media screen and (min-width: $desktop) {
    gap: 80px;
  }
}
.slider__item.slick-slide {
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $big-br;
  height: 168px;
  width: 168px;
  @media screen and (min-width: $tablet) {
    width: 111px;
  }
}

.who-section {
  &__heading {
    color: $primary-color;
    margin-bottom: 16px;
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__heading-desk {
    display: none;
    color: $primary-color;
    @media screen and (min-width: $desktop) {
      display: initial;
      margin-bottom: 24px;
    }
  }

  &__img {
    overflow: hidden;
    height: 459px;
    border-radius: 10px;
    margin-bottom: 16px;
    @media screen and (min-width: $desktop) {
      min-width: 544px;
      margin-bottom: 0px;
    }
  }

  &__img img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  &__info {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 40;
      font-size: 20px;
      line-height: 1.25;
    }
  }

  &__wrapper {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column-reverse;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row-reverse;
      gap: 40px;
    }
  }

  &__button {
    @media screen and (min-width: $tablet) {
      margin-bottom: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 0px;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
