@import "../variables";

.first__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: $tablet) {
    max-width: 1920px;
    padding: 0 43.5px;
  }

  @media screen and (min-width: $desktop) {
    padding: 0;
  }
}
.who__container {
  @media screen and (min-width: $tablet) {
    padding: 0 43.5px;
  }
  @media screen and (min-width: $desktop) {
    padding: 0 0px;
  }
}
.first-section {
  @media screen and (min-width: $desktop) {
    padding: 0;
  }
  &__wrapper {
    @media screen and (min-width: $tablet) {
      display: flex;
      gap: 26px;
      height: 346px;
    }
    @media screen and (min-width: $desktop) {
      gap: 56px;
      height: 680px;
    }
  }
  &__img {
    width: 100%;
    height: 360px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-width: $tablet) {
      height: 100%;
    }
    @media screen and (min-width: $desktop) {
    }
  }

  &__background {
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 17px 23px;
    @media screen and (min-width: $tablet) {
      padding: 65px 0;
      height: 100%;
    }
    @media screen and (min-width: $desktop) {
      padding: 200px 72px;
    }
  }

  &__text-box {
    padding: 16px;
    background-color: $white;
    color: $black;
  }
  &__heading {
    margin-bottom: 16px;
  }

  &__info {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 24px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
      font-size: 18px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 20;
    }
  }

  &__button {
    @media screen and (min-width: $desktop) {
      min-width: 187px;
    }
  }

  &__button-paw {
    bottom: 215px;

    width: 44px;
    height: 41px;

    position: absolute;
    right: 18px;

    @media screen and (min-width: $tablet) {
      bottom: -33px;
      left: 50%;
    }
    @media screen and (min-width: $desktop) {
      width: 58px;
      height: 54px;
      bottom: 130.5px;
    }
  }

  &__paw-svg-pad,
  &__paw-svg-1,
  &__paw-svg-2,
  &__paw-svg-3,
  &__paw-svg-4 {
    position: absolute;
    cursor: pointer;
    z-index: 5;
  }

  &__paw-svg-pad {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30.32px;
    height: 19.67px;
    @media screen and (min-width: $desktop) {
      width: 39.97px;
      height: 25.94px;
    }
  }
  &__paw-svg-1 {
    top: 12.93px;
    left: 0;
    width: 11.53px;
    height: 14.44px;
    @media screen and (min-width: $desktop) {
      width: 15.2px;
      height: 19.03px;
      top: 17px;
    }
  }
  &__paw-svg-2 {
    top: 0;
    left: 8.31px;
    width: 11.77px;
    height: 15.75px;
    @media screen and (min-width: $desktop) {
      width: 15.51px;
      height: 20.76px;
      left: 10.95px;
    }
  }
  &__paw-svg-3 {
    top: 0;
    right: 8.82px;
    width: 11.77px;
    height: 15.75px;
    @media screen and (min-width: $desktop) {
      width: 15.51px;
      height: 20.76px;
      right: 11.63px;
    }
  }
  &__paw-svg-4 {
    top: 12.93px;
    right: 0;
    width: 11.53px;
    height: 14.44px;
    @media screen and (min-width: $desktop) {
      width: 15.2px;
      height: 19.03px;
      top: 17px;
    }
  }

  & .paw-pagination-bullet {
    fill: white;
    :hover {
      fill: $red;
    }
  }

  & .paw-pagination-bullet-active {
    fill: $red;
    &,
    * {
      fill: $red;
    }
  }

  &__relative-container {
    position: relative;
  }
}

.pgnt {
  svg {
    fill: white;
  }
}

.home-heading-svg {
  display: none;
  @media screen and (min-width: $tablet) {
    display: initial;
    width: 27.14px;
    height: 24.29px;
  }
  @media screen and (min-width: $desktop) {
    display: initial;
    width: 38px;
    height: 34px;
  }
}

.home-heading-wrapper {
  display: flex;
  align-items: baseline;
}

.home-heading-wrapper-desk {
  display: none;
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
    gap: 8px;
  }
}

.partners-section {
  background-color: $background;
  &__heading {
    color: $primary-color;
    display: flex;
    align-items: baseline;
    gap: 8px;
  }

  &__heading-wrapper {
    align-items: center;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
    }
  }

  &__button {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    @media screen and (min-width: $tablet) {
      margin-top: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-top: 40px;
    }
  }

  &__arrow-btn {
    width: 44px;
    height: 44px;
    gap: 8px;
    border-radius: 10px;
    background-color: $primary-color;
    color: $white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
      height: 15px;
      width: 16px;
      fill: currentColor;
      margin-left: 4px;
    }

    &:active {
      background-color: $white;
      color: $primary-color;
    }
    @media screen and (min-width: $desktop) {
      &:hover {
        background-color: $white;
        color: $primary-color;
      }
    }
  }

  &__pagination {
    display: none;
    @media screen and (min-width: $tablet) {
      display: flex;
      width: fit-content;
      margin-left: auto;
      gap: 12px;
    }
    @media screen and (min-width: $desktop) {
      gap: 36px;
    }
  }
  &__swiper-outer {
    max-width: 1128px;
    margin: 0 auto;

    @media screen and (min-width: $tablet) {
      background-color: $white;
      border-radius: $big-br;
      padding: 29.5px 38px;
      box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.12);
    }
    @media screen and (min-width: $desktop) {
      padding: 80px;
    }
  }

  &__item {
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $big-br;
    height: 168px;
    width: 168px;
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.12);

    @media screen and (min-width: $tablet) {
      box-shadow: none;

      height: 81px;
    }
    @media screen and (min-width: $desktop) {
      height: 85px;
    }

    img {
      object-fit: scale-down;
    }
  }

  &__button {
    gap: 8px;
  }
}

.who-section {
  &__heading {
    color: $primary-color;
    margin-bottom: 16px;
    display: flex;
    align-items: baseline;
    gap: 8px;
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__heading-svg {
    display: none;
    @media screen and (min-width: $tablet) {
      display: initial;
      width: 27.14px;
      height: 24.29px;
    }
  }

  &__heading-desk {
    display: none;
    color: $primary-color;
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: baseline;
      gap: 8px;
      margin-bottom: 24px;
    }
  }

  &__img {
    overflow: hidden;
    height: 459px;
    border-radius: 10px;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      min-height: 459px;
      height: auto;
    }
    @media screen and (min-width: $desktop) {
      min-width: 544px;
      margin-bottom: 0px;
    }
  }

  &__img img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  &__info {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 40;
      font-size: 20px;
      line-height: 1.25;
    }
  }

  &__wrapper {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column-reverse;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row-reverse;
      gap: 40px;
    }
  }

  &__button {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    gap: 8px;
    margin-top: auto;
    @media screen and (min-width: $tablet) {
      margin-bottom: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 0px;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button-svg {
    height: 15px;
    width: 16px;

    fill: $white;
    margin-left: 8px;
  }
}

.direction-section {
  background-color: $background;

  &__repeater {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 16px;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 24px;
    }
    @media screen and (min-width: $desktop) {
      flex-wrap: nowrap;
      margin-top: 40px;
    }
  }

  &__item {
    background-color: $white;
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;

    @media screen and (min-width: $tablet) {
      max-width: calc((100% - 24px) / 2);
    }
    @media screen and (min-width: $desktop) {
      max-width: calc((100% - 24px * 2) / 3);
      padding: 27px 24px;
    }
  }

  &__repeater-photo {
    width: 60px;
    height: 60px;
  }

  &__repeater-name {
    font-size: 24px;
    font-weight: 800;
    line-height: 1;
  }
  &__repeater-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;
  }

  &__repeater-btn {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    gap: 8px;
  }
}

.wcf-section {
  &__heading {
    color: $primary-color;
    margin-bottom: 16px;
    display: flex;
    align-items: baseline;
    gap: 8px;
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__heading-svg {
    display: none;
    @media screen and (min-width: $tablet) {
      display: initial;
      width: 27.14px;
      height: 24.29px;
    }
  }

  &__heading-desk {
    display: none;
    color: $primary-color;
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: baseline;
      gap: 8px;
      margin-bottom: 24px;
    }
  }

  &__img {
    overflow: hidden;
    height: 459px;
    border-radius: 10px;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      min-height: 459px;
      height: auto;
    }
    @media screen and (min-width: $desktop) {
      min-width: 544px;
      margin-bottom: 0px;
    }
  }

  &__img img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  &__info {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 40;
      font-size: 20px;
      line-height: 1.25;
    }
  }

  &__wrapper {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column-reverse;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row-reverse;
      gap: 40px;
    }
  }

  &__button {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin-top: auto;
    @media screen and (min-width: $tablet) {
      margin-bottom: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 0px;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button-svg {
    height: 15px;
    width: 16px;

    fill: $white;
    margin-left: 8px;
  }
}

.news-section {
  background-color: $background;
  &__heading-wrapper {
    align-items: center;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
    }
  }
  &__heading {
    color: $primary-color;
    display: flex;
    align-items: baseline;
    gap: 8px;
  }

  &__button {
    margin-top: auto;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
  }

  &__button-svg {
    height: 15px;
    width: 16px;
    fill: $white;
    margin-left: 4px;
  }

  &__arrow-btn {
    width: 44px;
    height: 44px;
    gap: 8px;
    border-radius: 10px;
    background-color: $primary-color;
    color: $white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: $white;
      color: $primary-color;
    }
  }

  &__pagination {
    display: none;
    @media screen and (min-width: $tablet) {
      display: flex;
      width: fit-content;
      margin-left: auto;
      gap: 12px;
    }
    @media screen and (min-width: $desktop) {
      gap: 36px;
    }
  }
  &__swiper {
    max-width: 1128px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    background-color: $white;
    height: 468px;
    border-radius: $big-br;
    padding: 16px;
    box-shadow: 0px 1px 12px 0px #0000001f;
  }
  &__img {
    object-fit: scale-down;
    max-height: 202px;
    margin-bottom: 16px;
    overflow: hidden;
  }

  &__category {
    position: absolute;
    top: 32px;
    right: 32px;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: $red;
    color: $white;
    font-weight: 800;
  }

  &__counter-wrapper {
    margin-top: 16px;
    font-size: 30px;
    font-weight: 800;
    line-height: 1;
    text-align: center;
    color: $red;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: calc(100% - 202px - 16px);
  }
  &__name {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    color: $primary-color;
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    overflow: hidden;
    max-height: min-content;
    flex-shrink: 1;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__button-all {
    display: flex;
    gap: 4px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: $tablet) {
      margin-top: 34px;
      margin-left: 0;
      margin-right: 0;
    }
    @media screen and (min-width: $desktop) {
      margin-top: 40px;
    }
  }
}

.ourlife,
.ourlife-en {
  background-color: #9d5dde;
}
.webinars,
.webinars-en {
  background-color: #62c634;
}
.presentations,
.presentations-en {
  background-color: #398f5c;
}

.exhibitions-section {
  &__heading {
    color: $primary-color;
    display: flex;
    align-items: baseline;
    gap: 8px;
  }

  &__button {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;

    @media screen and (min-width: $tablet) {
      margin-top: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-top: 40px;
    }
  }

  &__button-svg {
    height: 15px;
    width: 16px;
    fill: $white;
    margin-left: 4px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
      margin-top: 36px;
    }
  }

  &__item {
    margin-bottom: 24px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: $light-green;
    padding: 16px;
    border-radius: 10px;
    @media screen and (min-width: $tablet) {
      display: flex;
      gap: 24px;
      padding: 24px;
    }
    @media screen and (min-width: $desktop) {
      gap: 32px;
      margin-bottom: 40px;
    }
  }

  &__name {
    color: $primary-color;
    font-size: 26px;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 12px;
    @media screen and (min-width: $tablet) {
      margin-top: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-top: 40px;
    }
  }

  &__date {
    display: flex;
    color: $red;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
    margin-top: 16px;
    @media screen and (min-width: $tablet) {
      margin-top: 0;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    margin-top: 16px;
    @media screen and (min-width: $tablet) {
      margin-top: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-top: 40px;
    }
  }
}

.support-section {
  width: 100%;
  height: 471px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: $tablet) {
    height: 444px;
  }
  @media screen and (min-width: $desktop) {
    height: 775px;
  }

  &__wrapper {
    padding: 16px;
    background-color: #ffffffb2;
    @media screen and (min-width: $desktop) {
      background-color: transparent;
      max-width: 646px;
    }
  }

  &__heading {
    font-size: 26px;
    font-weight: 800;
    line-height: 1;
    color: $primary-color;
    @media screen and (min-width: $tablet) {
      font-size: 30px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 40px;
    }
  }

  &__text {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    @media screen and (min-width: $desktop) {
      max-width: 646px;
      font-size: 20px;
    }
  }

  &__button {
    display: flex;
    gap: 8px;
    margin-top: 24px;
  }
}
