@import "../variables";

.first__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: $tablet) {
    max-width: $desktop;
    padding: 0 43.5px;
  }

  @media screen and (min-width: $desktop) {
    padding: 0;
  }
}
.first-section {
  &__wrapper {
    @media screen and (min-width: $tablet) {
      display: flex;
      gap: 26px;
      height: 346px;
    }
    @media screen and (min-width: $desktop) {
      gap: 56px;
      height: 680px;
    }
  }
  &__img {
    width: 100%;
    height: 360px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-width: $tablet) {
      height: 100%;
    }
    @media screen and (min-width: $desktop) {
    }
  }

  &__background {
    width: 100%;
    height: 215px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 17px 23px;
    @media screen and (min-width: $tablet) {
      padding: 65px 0;
      height: 100%;
    }
    @media screen and (min-width: $desktop) {
      padding: 200px 72px;
    }
  }

  &__text-box {
    padding: 16px;
    background-color: $white;
  }
  &__heading {
    margin-bottom: 16px;
  }

  &__info {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 24px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
      font-size: 20px;
    }
  }

  &__button-paw {
    bottom: 215px;

    width: 44px;
    height: 41px;

    position: absolute;
    right: 18px;

    @media screen and (min-width: $tablet) {
      bottom: -33px;
      left: 50%;
    }
    @media screen and (min-width: $desktop) {
      bottom: 130.5px;
    }
  }

  &__paw-svg-pad,
  &__paw-svg-1,
  &__paw-svg-2,
  &__paw-svg-3,
  &__paw-svg-4 {
    position: absolute;
    cursor: pointer;
    z-index: 5;
  }

  &__paw-svg-pad {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__paw-svg-1 {
    top: 12.93px;
    left: 0;
    width: 11.53px;
    height: 14.44px;
  }
  &__paw-svg-2 {
    top: 0;
    left: 8.31px;
    width: 11.77px;
    height: 15.75px;
  }
  &__paw-svg-3 {
    top: 0;
    right: 8.82px;
    width: 11.77px;
    height: 15.75px;
  }
  &__paw-svg-4 {
    top: 12.93px;
    right: 0;
    width: 11.53px;
    height: 14.44px;
  }

  & .paw-pagination-bullet {
    fill: white;
    :hover {
      fill: $red;
    }
  }

  & .paw-pagination-bullet-active {
    fill: $red;
    &,
    * {
      fill: $red;
    }
  }

  &__relative-container {
    position: relative;
  }
}

.pgnt {
  svg {
    fill: white;
  }
}

.one-arrow {
  fill: white;
}

.partners-section {
  background-color: $background;
  &__heading {
    color: $primary-color;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
    }
  }

  &__heading-wrapper {
    display: flex;
  }

  &__button {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    @media screen and (min-width: $tablet) {
      margin-top: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-top: 40px;
    }
  }

  &__button-svg {
    height: 15px;
    width: 16px;
    fill: $white;
    margin-left: 4px;
  }

  &__arrow-btn {
    width: 44px;
    height: 44px;
    gap: 8px;
    border-radius: 10px;
    background-color: $primary-color;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: $white;

      svg {
        fill: $primary-color;
      }
    }
  }

  &__pagination {
    display: none;
    @media screen and (min-width: $tablet) {
      display: flex;
      width: fit-content;
      margin-left: auto;
      gap: 12px;
    }
    @media screen and (min-width: $desktop) {
      gap: 36px;
    }
  }
  &__swiper {
    max-width: 1128px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: $tablet) {
      background-color: $white;
      border-radius: $big-br;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  &__item {
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $big-br;
    height: 168px;
    width: 168px;
    @media screen and (min-width: $tablet) {
      width: 111px;
    }
    @media screen and (min-width: $desktop) {
      height: 78px;
    }

    img {
      object-fit: scale-down;
    }
  }
}

.who-section {
  &__heading {
    color: $primary-color;
    margin-bottom: 16px;
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__heading-desk {
    display: none;
    color: $primary-color;
    @media screen and (min-width: $desktop) {
      display: initial;
      margin-bottom: 24px;
    }
  }

  &__img {
    overflow: hidden;
    height: 459px;
    border-radius: 10px;
    margin-bottom: 16px;
    @media screen and (min-width: $desktop) {
      min-width: 544px;
      margin-bottom: 0px;
    }
  }

  &__img img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  &__info {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 40;
      font-size: 20px;
      line-height: 1.25;
    }
  }

  &__wrapper {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column-reverse;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row-reverse;
      gap: 40px;
    }
  }

  &__button {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    @media screen and (min-width: $tablet) {
      margin-bottom: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 0px;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button-svg {
    height: 15px;
    width: 16px;
    fill: $white;
    margin-left: 8px;
  }
}
