@import "../variables";

html { 
    scroll-behavior: smooth;
}

.news-archive {
    .upper-section {
        background-color: $light-green;
        padding: 24px 0;
        @media screen and (min-width: $desktop) {
            background-color: none;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 158px 0 159px;
        }
        &__banner {
            @media screen and (min-width: $desktop) {
                width: 648px;
            }
        }
        &__heading {
            font-size: 30px;
            line-height: 1.13;
            @media screen and (min-width: $tablet) {
                font-size: 45px;
                line-height: 1;
            }
            @media screen and (min-width: $desktop) {
                font-size: 60px;
            }
        }
    }
    .tags-section {
        padding: 32px 0 0 0;
        @media screen and (min-width: $tablet) {
            padding: 42px 0 0 0;
        }
        @media screen and (min-width: $desktop) {
            padding: 80px 0 0 0;
        }
        .filter-buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            @media screen and (min-width: $tablet) {
                gap: 12px;
            }
            @media screen and (min-width: $desktop) {
                gap: 24px;
            }
            .word_all-btn {
                background-color: $red;
                display: inline-flex;
                align-items: center;
            }
            .tag-svg {
                margin-right: 8px;
            }
        }
        .filter-buttons a {
            color: $white;
            padding: 10px 16px;
            border-radius: 4px;
            font-weight: 800;
            font-size: 20px;
            line-height: 1;
            &.active {
                padding: 10px 12px 10px 8px;
            }
        }
    }
    .posts-section {
        @media screen and (min-width: $tablet) {
            padding: 32px 0 56px;
        }
        @media screen and (min-width: $desktop) {
            padding: 40px 0 80px;
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 24px;
            @media screen and (min-width: $tablet) {
                flex-direction: row;
                flex-wrap: wrap;
            }
            
            .one-card-news {
                position: relative;
                width: 100%;
                border-radius: 10px;
                padding: 16px;
                box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.12);
                background: #ecfafc;
                @media screen and (min-width: $tablet) {
                    max-width: calc((100% - 24px) / 2); 
                }
                .news-tags-container {
                    position: absolute;
                    top: 32px;
                    right: 32px;
                    border-radius: 4px;
                    padding: 6px 10px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                    z-index: 10;
                    @media screen and (min-width: $desktop) {
                        top: 40px;
                        right: 40px;
                    }
                    .news-tag {
                        border-radius: 4px;
                        padding: 6px 10px;
                        color: #fff;
                        font-weight: 800;
                        font-size: 16px;
                        line-height: 1;
                    }
                }
            } 
        }
    }
}