@import "../variables.scss";

.register-page-section {
  background-color: #cfe4e6;

  &__container {
    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      gap: 24px;
    }
  }

  &__wrapper {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    padding: 20px;
    @media screen and (min-width: $tablet) {
      padding: 40px 58px;
    }
    @media screen and (min-width: $tablet) {
      padding: 40px 40px;
    }
  }

  &__wrapper-img {
    display: none;
    @media screen and (min-width: $desktop) {
      display: block;
    }
  }

  &__heading {
    color: $primary-color;
    font-size: 26px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 28px;
    @media screen and (min-width: $tablet) {
      font-size: 30px;
      display: flex;
      align-items: baseline;
      gap: 8px;
    }
  }

  &__message {
    color: rgba(7, 7, 7, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 28px;
  }

  &__message-link {
    text-decoration: underline;
    color: black;
    &:hover {
      color: blue;
    }
  }

  &__form-wrapper {
    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      gap: 60px;
    }
  }

  &__form-field {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 20px;
    @media screen and (min-width: $tablet) {
      min-width: 264px;
    }
    input {
      background-color: rgba(255, 255, 255, 1);
      border-radius: 10px;
      padding: 13px;
      font-size: 13px;
    }
  }
  &__button {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    display: flex;
    @media screen and (min-width: $tablet) {
      margin-top: 0;
    }
  }
  &__button-svg {
    height: 15px;
    width: 16px;
    fill: $white;
    margin-left: 4px;
  }
  &__message-star {
    font-size: 13px;
    margin-bottom: 20px;
  }
  &__message-agree {
    display: flex;
    font-size: 10px;
    gap: 12px;
    align-items: center;
    margin-bottom: 24px;
    input {
      background-color: rgba(255, 255, 255, 1);
      border-radius: 4px;
      width: 20px;
      height: 20px;
      border-color: transparent;
    }
  }

  &__first-message {
    color: red;
    font-size: 13px;
    margin-bottom: 10px;
  }

  &__error {
    color: red;
    font-size: 10px;
    margin-top: 10px;
  }
}

.register-page-heading-svg {
  display: none;
  @media screen and (min-width: $tablet) {
    display: initial;
    width: 27.14px;
    height: 24.29px;
  }
}
