@import "../variables";

html { 
    scroll-behavior: smooth;
}

.rules-wcf-sections-heading {
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: baseline;
        gap: 8px;
        margin-bottom: 24px; 
    }
    @media screen and (min-width: $desktop) {
        gap: 12px;
        margin-bottom: 40px; 
    }
    .heading-svg {
        display: none;
        @media screen and (min-width: $tablet) {
            display: initial;
            width: 26.32px;
            height: 23.53px;
        }
        @media screen and (min-width: $desktop) {
            width: 36.85px;
            height: 32.94px;
        }
    }   
}

.wcf {
   .upper-section {
        background-color:  $light-green;
        padding: 20px 0;
        @media screen and (min-width: $tablet) {
            padding: 30px 0;
        }
        @media screen and (min-width: $desktop) {
            background-color: none;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 118.5px 0;
        }
        &__banner {
            @media screen and (min-width: $full) {
                width: 823px;
            }
        }
        &__heading {
            font-size: 30px;
            margin-bottom: 10px;
            @media screen and (min-width: $tablet) {
                font-size: 45px;
                margin-bottom: 14px;
            }
            @media screen and (min-width: $full) {
                font-size: 60px;
                margin-bottom: 24px;
            }
        }
        &__sub-titles {
            display: grid;
            grid-template-columns: 1fr 1fr;
            @media screen and (min-width: $tablet) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 24px;
            }
            @media screen and (min-width: $full) {
                column-gap: 36px;
                row-gap: 16px;
            }
            .sub-title {
                display: flex;
                align-items: baseline;
                gap: 10px;
                font-weight: 800;
                font-size: 16px;
                line-height: 1;
                color: $primary-color;
                padding: 4px 0;
                @media screen and (min-width: $tablet) {
                    font-size: 20px;
                    padding: 7.5px 0;
                }
                @media screen and (min-width: $full) {
                    padding: 0;
                }
                &-svg {
                    width: 14px;
                    height: 12px;
                    @media screen and (min-width: $full) {
                        width: 18px;
                        height: 16px;
                    }
                }
            }  
        }
    }
    .about_wcf-section {
        background-color: $background;
        &__wrapper {
            display: grid;
            @media screen and (min-width: $desktop) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto auto;
                grid-column-gap: 0px;
                grid-row-gap: 40px;
                  
                .about_wcf-section__heading { grid-area: 1 / 1 / 2 / 2; }
                .about_wcf-section__content { grid-area: 2 / 1 / 3 / 3; }
                .about_wcf-section__button { grid-area: 1 / 2 / 2 / 3; }
            }
        }
        &__heading {
            @extend .rules-wcf-sections-heading;
            @media screen and (min-width: $desktop) {
                margin-bottom: 0; 
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            gap: 24px; 
            @media screen and (min-width: $desktop) {
                flex-direction: row;
            }
        }
        &__upper-card {
            height: 462px;
            width: 100%;
            background-color: #fff;
            border-radius: 10px;
            @media screen and (min-width: $desktop) {
                order: 2;
                height: 698px;
                width: 50%;
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                border-radius: 10px;
            }
        } 
        &__lower-card {
            background-color: #fff;
            border-radius: 10px;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.31;
            padding: 24px 24px 24px 48px;
            margin-bottom: 16px;
            @media screen and (min-width: $tablet) {
                font-size: 20px;
                line-height: 1.25;
                margin-bottom: 24px;
            }
            @media screen and (min-width: $desktop) {
                order: 1;
                width: 50%;
                margin-bottom: 0;
            }
            &-list {
                list-style-type: disc;
                li {
                    margin-bottom: 21.34px;
                    @media screen and (min-width: $tablet) {
                        margin-bottom: 25.012px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    &:nth-child(4) {
                        margin-bottom: 0;
                        @media screen and (min-width: $tablet) {
                            margin-bottom: 25.012px;
                        }
                    }
                    .wcf_word {
                        color: $blue-main;
                    }
                    .optional {
                        display: none;
                        @media screen and (min-width: $tablet) {
                            display: initial;
                        }
                    }
                }   
            }
        }
        &__button {
            @media screen and (min-width: $desktop) {
                justify-self: flex-end;
            }
            svg {
                width: 20px;
                height: 20px;
                stroke: #fff;
            }
            &:hover svg {
                stroke: #aa0610;
            }
        }
    }
}