@import "../variables";

.single-breeder__breadcrumbs {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 800;
  line-height: 1;
  color: $primary-color;
  @media screen and (min-width: $desktop) {
    margin-bottom: 89.5px;
  }
}

.single-breeder-first-section {
  background-color: $light-green;
  padding: 20px 0;
  @media screen and (min-width: $tablet) {
    padding: 30px 0;
  }
  @media screen and (min-width: $desktop) {
    background-color: none;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 377px;
    padding: 31px 0 136.5px 0;
  }

  &__heading {
    font-size: 30px;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      font-size: 45px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 24px;
      font-size: 60px;
    }
  }

  &__heading-svg {
    color: $primary-color;
    @media screen and (min-width: $desktop) {
      width: 18px;
      height: 16px;
    }
  }
  &__subtitle-heading {
    display: flex;
    align-items: baseline;
    color: $primary-color;
    gap: 4px;
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
    margin-top: 10px;
    @media screen and (min-width: $tablet) {
      gap: 10px;
    }
  }

  &__subtitle-heading-wrapper {
    @media screen and (min-width: $tablet) {
      display: flex;
      gap: 24px;
    }
    @media screen and (min-width: $desktop) {
      gap: 36px;
    }
  }
}

.single-breeder-heading-svg {
  display: none;
  @media screen and (min-width: $tablet) {
    display: initial;
    width: 27.14px;
    height: 24.29px;
  }
  @media screen and (min-width: $desktop) {
    display: initial;
    width: 38px;
    height: 34px;
  }
}

.single-breeder-about-section {
  &__heading {
    margin-bottom: 24px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
    }
  }

  &__content {
    @media screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row-reverse;
      gap: 24px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 24px;
    color: $black;
    @media screen and (min-width: $tablet) {
      font-size: 20px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 0;
    }
  }
  &__text-first {
    color: black;
    font-weight: 800;
    line-height: 1.1;
  }
  &__text-second {
    margin-top: 18.5px;
    line-height: 1.25;
  }

  &__img {
    width: 343px;
    height: 379.05px;
    border-radius: 5.49px;

    @media screen and (min-width: $tablet) {
      width: 704px;
      height: 777.99px;
      border-radius: 15px;
    }
    @media screen and (min-width: $desktop) {
      width: 552px;
      height: 610.02px;
    }
  }

  &__contacts-title {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 800;
    line-height: 1;
    color: $primary-color;
    @media screen and (min-width: $tablet) {
      margin-top: 16px;
    }
    @media screen and (min-width: $desktop) {
      margin-top: 18.5px;
    }
  }

  &__contacts-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
  }

  &__contacts-text {
    color: $primary-color;
    font-weight: 800;
    font-size: 16px;
    @media screen and (min-width: $mobile) {
      font-size: 20px;
    }
  }

  &__contacts-link {
    font-size: 16px;
    @media screen and (min-width: $mobile) {
      font-size: 20px;
    }
  }

  &__contacts-link-address {
    font-size: 16px;
    width: 200px;
    @media screen and (min-width: $mobile) {
      font-size: 20px;
      width: 219px;
    }
    @media screen and (min-width: $tablet) {
      width: 414px;
    }
    @media screen and (min-width: $desktop) {
      width: 414px;
    }
  }

  &__socials-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 63px;
    margin-top: 16px;
    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 54px;
      margin-top: 32px;
    }
    @media screen and (min-width: $desktop) {
      gap: 24px;
    }
  }

  &__socials__img {
    width: 72px;
    height: 72px;
    border-radius: 4px;
    @media screen and (min-width: $desktop) {
      border-radius: 10px;
    }
  }
}

.single-breeder-our-cats-section {
  background-color: $background;
  &__heading-wrapper {
    align-items: center;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
    }
  }
  &__heading {
    color: $primary-color;
    display: flex;
    align-items: baseline;
    gap: 8px;
  }

  &__heading-wrapper {
    display: flex;
  }

  &__button {
    margin-top: auto;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
  }

  &__button-svg {
    height: 15px;
    width: 16px;
    fill: $white;
    margin-left: 4px;
  }

  &__arrow-btn {
    width: 44px;
    height: 44px;
    gap: 8px;
    border-radius: 10px;
    background-color: $primary-color;
    color: $white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: $white;
      color: $primary-color;
    }
  }
  &__pagination {
    display: none;
    @media screen and (min-width: $tablet) {
      display: flex;
      width: fit-content;
      margin-left: auto;
      gap: 36px;
    }
  }
  &__swiper {
    max-width: 1128px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
  }

  &__item {
    img {
      width: 340px;
      height: 228px;
      object-fit: cover;
      border-radius: 10px;
      @media screen and (min-width: $tablet) {
        width: 462px;
        height: 307px;
      }
      @media screen and (min-width: $desktop) {
        width: 551px;
        height: 400px;
      }
    }
  }
  &__subtext {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 24px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 52.5px;
    }
  }
}

.single-breeder-free-cats-section {
  &__heading {
    margin-bottom: 24px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    @media screen and (min-width: $tablet) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: $desktop) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 16px;
    width: 344px;
    height: 478px;
    box-shadow: 0px 1px 12px 0px #0000001f;
    gap: 16px;
    border-radius: 8px;
    @media screen and (min-width: $tablet) {
      width: 340px;
      padding: 24px 14px;
    }
    @media screen and (min-width: $desktop) {
      width: 360px;
      padding: 24px 24px;
    }
  }
  &__img {
    object-fit: cover;
    width: 312px;
    height: 268px;
    border-radius: 8px;
  }

  &__name {
    font-size: 24px;
    font-weight: 800;
    line-height: 1;
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    text-decoration: underline;
  }

  &__old {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
  }

  &__info {
    font-size: 16px;
    font-weight: 800;
    line-height: 1;
    color: #d11f2a;
  }

  &__button {
    display: flex;
    gap: 8px;
    margin-top: 24px;
  }
}
