@import "../variables.scss";


.heading-section-news {
  position: relative;
  padding: 20px;
  text-align: left; 
  color: $blue-main;
  background-color: $light-green;

    &__background-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media screen and (max-width: $desktop) {
      display: none;
    }
    
    @media screen and (min-width: $desktop) {
      display: block;
      height: 377px;
    }
    
    @media screen and (min-width: $full) {
      display: block;
      height: 377px;
    }
  }

  .section_heading {
    padding: 20px 0;
    position: relative;
    z-index: 1;
    font-size: 1.875em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -20px;
    padding: 20px;
    color: $primary-color;
    font-family: $primary-font;
    
  
    @media screen and (max-width: $mobile) {
      padding-left: 50px;
    }
  
    @media screen and (min-width: $tablet) {
      padding: 30px 0;
      margin-left: 30px;
      font-size: 2.8125em;
    }  
     
    @media screen and (min-width: $desktop) {
      position: absolute;
      background: none;
      top: 123px;
      padding: 0;
      margin-left: 130px;
      font-size: 3.75em;
    }    
  }
}

@media screen and (min-width: $desktop) {
  .heading-section-news {
    background-color: transparent;
    height: 377px;
  }
}


/* Хлібні крихти */

.breadcrumbs-section {

  margin-left: 16px;
    
  @media screen and (min-width: $tablet) {
    margin-left: 50px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 150px;
  }

  @media screen and (min-width: $full) {
    margin-left: 100px;
  }

}

.responsive-br {
  display: inline;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
  
.breadcrumb-link {  
  font-size: 0.75em;
  font-weight: bolder;
  color: #045C6F;  
  
  @media screen and (min-width: $tablet) {
      font-size: 1em;
    }
}

.breadcrumb-title {
  font-size: 0.75em;
  font-weight: bolder;
  color: #D11F2A;

  @media screen and (min-width: $tablet) {
      font-size: 1em;
    }

}

.wrapper-news-section {
  margin-bottom: 0;

  @media screen and (min-width: $tablet) {   
    margin-bottom: 26px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 188px;
  }

}

.wrapper-breadcrumbs-section {
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    margin-top: 24px;
    margin-bottom: 24px;
  } 

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: baseline;
    height: 80px;
  }      
}

.wrapper-news-section {
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (min-width: $tablet) {
      margin-bottom: 23px;
    }
  
  @media screen and (min-width: $desktop) {
    margin-bottom: 188px;
  }
}


.main-content-container {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #ffffff;

  @media screen and (min-width: $tablet) {
      margin-right: 32px;
      margin-left: 32px;
      margin-bottom: 56px;      
      width: calc(100% - 64px);
      box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
    }
  
    @media screen and (min-width: $desktop) {
      margin-right: 32px;
      margin-left: 32px;
      padding-left: 24px;
      padding-right: 24px;
    }
}


/* Основна новина*/
.container {
  padding-left: 0;
  padding-right: 0;

.news-section {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: $tablet) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    @media screen and (min-width: $desktop) {
      flex-direction: row;
      align-items: flex-start;
      gap: 24px;
    }
  }

  &__date {
    display: flex;    
    justify-content: space-between;
    margin-bottom: 22px;
    padding: 3px;
    width: 100%;
    font-size: 1.25em;
    font-weight: 800;
    color: $red;
    line-height: 1;    
    order: 1;
    
    @media screen and (min-width: $tablet) {
      margin-top: 26px;
      margin-bottom: 20px;
    }
    
    @media screen and (min-width: $desktop) {
      margin-top: 16px;
      order: none;     
    }
  }    
    
  &__name {
    color: $primary-color;
    font-size: 1.5em;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 16px;
    text-align: left;
    order: 2;
  
    @media screen and (min-width: $tablet) {
      width: 100%;
      text-align: left;
      margin-top: 0;
      margin-bottom: 24px;
    }
  
    @media screen and (min-width: $desktop) {
      margin-top: 40px;
      order: none;     
    }
  }
    
  &__img {
    margin-bottom: 20px;    
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    order: 3;
        
    @media screen and (min-width: $tablet) {
      width: 100%;
      margin-top: 0;
      margin-bottom: 24px;
    }
        
    @media screen and (min-width: $desktop) {
      max-width: 50%;
      order: none;
    }
  }

  &__text {
    font-size: 1em;
    font-weight: 500;
    line-height: 1;    
    margin-bottom: 24px;
    order: 4;
    
    @media screen and (min-width: $tablet) {
      width: 100%;
      margin-bottom: 24px;     
    }
    
    @media screen and (min-width: $desktop) {
      margin-top: 40px;
      order: none;
    }    
  }
       
  &__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;

    @media screen and (min-width: $tablet) {
        gap: 0;
        width: 100%;
      }

  }

  &__heading {
    color: $primary-color;
    display: flex;
    align-items: baseline;
    gap: 8px;
  }  
  
  &__button {
    width: 202px;        
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.5;      
  
    @media screen and (min-width: $tablet) {
      margin-top: 24px;
    }
  
    @media screen and (min-width: $desktop) {
      margin-top: 40px;
    }
  }

  &__first-button {
    align-self: flex-start;    
    order: 5;

    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: $desktop) {
      order: none;
    }
  } 

  &__first-btn {
    display: flex;
    align-items: center;
    gap: 8px;        
  }  

  &__first-button-text {
    margin: 0;
    font-size: 1.125em;    
  }  
      
  &__button-svg {
    height: 15px;
    width: 16px;
    fill: $white;
    margin-left: 4px;
    fill: #ffffff;
  }
       
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;    
  
    @media screen and (min-width: $desktop) {
      margin-top: 36px;
    }
  }
}
}

/* Галерея фото*/

.wrapper-news-section-gallary {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 24px;
  
  @media screen and (min-width: $tablet) {
    padding-bottom: 0;
  }

}

.news-section__gallery {
  text-align: center;
  padding: 0px;  
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;

  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
    align-items: start;
  }

  @media screen and (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 100%;
    align-items: start;
  }
  
}

.gallery-items {
  display: contents;  
}

.gallery-item {
  position: relative;
  width: 100%;
  padding-bottom: 100%;  
  overflow: hidden;  
  height: auto;     
  border-radius: 10px;
  object-fit: cover;
}

.gallery-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  
  display: block;
  transition: transform 0.3s ease;
}

.gallery-item a {
  display: block;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

/* Кнопка */
.gallary-button {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.gallary-section {
  &__last-btn {
      display: flex;
      align-items: center;
      gap: 8px;
      position: relative;
      z-index: 10;
    }
  
  &__last-btn-text {
    margin-top: 0;
    padding: 0;
  }
}




