@import "../variables";

.single-breed__breadcrumbs {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 800;
  line-height: 1;
  color: $primary-color;
  @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 30px;
  }

  &__active {
    color: #d11f2a;
  }
}
.single-breed-heading-svg {
  display: none;
  @media screen and (min-width: $tablet) {
    display: initial;
    width: 27.14px;
    height: 24.29px;
  }
  @media screen and (min-width: $desktop) {
    display: initial;
    width: 38px;
    height: 34px;
  }
}
.single-breed-first-section {
  background-color: $light-green;
  padding: 20px 0;
  @media screen and (min-width: $tablet) {
    padding: 30px 0;
  }
  @media screen and (min-width: $desktop) {
    background-color: none;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 377px;
    padding: 118.5px 0;
  }

  &__heading {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      font-size: 45px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 24px;
      font-size: 60px;
    }
  }

  &__heading-svg {
    color: $primary-color;
    @media screen and (min-width: $desktop) {
      width: 18px;
      height: 16px;
    }
  }
  &__subtitle-heading {
    display: flex;
    align-items: baseline;
    color: $primary-color;
    gap: 4px;
    font-size: 16px;
    font-weight: 800;
    line-height: 1;
    margin-top: 10px;
    @media screen and (min-width: $tablet) {
      gap: 10px;
      font-size: 20px;
    }
  }

  &__subtitle-heading-wrapper {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
    }
    @media screen and (min-width: $desktop) {
      gap: 16px;
    }
  }
}

.single-breed-about-section {
  padding: 16px 0 40px 0;
  @media screen and (min-width: $tablet) {
    padding: 24px 0 80px 0;
  }
  @media screen and (min-width: $desktop) {
    padding: 30px 0 80px 0;
  }
  &__heading {
    margin-bottom: 24px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
    }
  }

  &__wrapper {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    gap: 24px;
    @media screen and (min-width: $tablet) {
      gap: 16px;
    }
    @media screen and (min-width: $small-desktop) {
      flex-direction: row;
      gap: 24px;
    }
  }

  &__list {
    display: grid;
    grid-template-areas:
      "b b b"
      "b b b"
      "b b b"
      "b b b"
      "b b b"
      "c a d";
    gap: 8px;
    @media screen and (min-width: $tablet) {
      grid-template-areas:
        "b b a"
        "b b c"
        "b b d";
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 24px;
    }
  }

  &__firstItem {
    grid-area: b;

    img {
      border-radius: 8px;
      height: 100%;
      max-height: 100%;
    }
  }

  &__item1 {
    grid-area: a;
    img {
      border-radius: 8px;
    }
  }

  &__item2 {
    grid-area: c;
    img {
      border-radius: 8px;
    }
  }

  &__item3 {
    grid-area: d;
    img {
      border-radius: 8px;
    }
  }

  &__text-bold {
    font-size: 16px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 24px;
    @media screen and (min-width: $tablet) {
      font-size: 20px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    @media screen and (min-width: $tablet) {
      font-size: 20px;
    }
  }
}

.single-breed-heading-wrapper {
  display: flex;
  align-items: baseline;
}

.single-breed-breeders-section {
  background-color: $background;

  &__heading-wrapper {
    align-items: center;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
    }
  }

  &__heading {
    color: $primary-color;
    display: flex;
    align-items: baseline;
    gap: 8px;
  }

  &__button {
    margin-top: auto;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
  }

  &__button-svg {
    height: 15px;
    width: 16px;
    fill: $white;
    margin-left: 4px;
  }

  &__arrow-btn {
    width: 44px;
    height: 44px;
    gap: 8px;
    border-radius: 10px;
    background-color: $primary-color;
    color: $white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:active {
      background-color: $white;
      color: $primary-color;
    }
    @media screen and (min-width: $desktop) {
      &:hover {
        background-color: $white;
        color: $primary-color;
      }
    }
    @media screen and (min-width: $desktop) {
      &:hover {
        background-color: $white;
        color: $primary-color;
      }
    }
  }

  &__pagination {
    display: none;
    @media screen and (min-width: $tablet) {
      display: flex;
      width: fit-content;
      margin-left: auto;
      gap: 36px;
    }
  }
  &__swiper {
    max-width: 1128px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
  }
}

.single-breed-wfc-section {
  &__head {
    display: flex;
    gap: 18px;
    justify-content: space-between;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 0px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 8px;
    }

    .single-breed-wfc-button {
      width: 44px;
      height: 44px;
      gap: 8px;
      border-radius: 10px;
      background-color: $primary-color;
      color: $white;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        border: 2px solid $primary-color;
        background-color: $white;
        color: $primary-color;
      }
    }
  }

  &__list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    display: flex;
    flex-direction: column;
  }
  &__list.open {
    max-height: 2000px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 0;
    border-bottom: 3px solid $background;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-between;
      padding: 24px 0;
    }
    @media screen and (min-width: $desktop) {
      padding: 32px 0;
    }

    h3 {
      font-family: $primary-font;
      font-weight: 800;
      font-size: 20px;
      line-height: 20px;
      color: $primary-color;
      @media screen and (min-width: $tablet) {
        font-size: 24px;
        line-height: 24px;
      }
    }

    p {
      font-family: $primary-font;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: $black;
      @media screen and (min-width: $tablet) {
        width: 65.48%;
        font-size: 20px;
        line-height: 25px;
      }
      @media screen and (min-width: $desktop) {
        width: 48.94%;
      }
    }
  }

  &__item:last-child {
    border-bottom: none;

    h4 {
      font-family: $primary-font;
      font-weight: 800;
      font-size: 16px;
      line-height: 16px;
      color: $primary-color;
      margin-bottom: 8px;
      @media screen and (min-width: $tablet) {
        font-size: 20px;
        line-height: 20px;
      }
      @media screen and (min-width: $tablet) {
        margin-bottom: 16px;
      }
    }
    li {
      font-family: $primary-font;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: $black;
      @media screen and (min-width: $tablet) {
        font-size: 20px;
        line-height: 25px;
      }
    }
    .item-wrapper {
      ul {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $tablet) {
          flex-direction: row;
          flex-wrap: wrap;
          li {
            flex-basis: 50%;
          }
        }
      }
    }
    .item-wrapper:not(:last-child) {
      margin-bottom: 24px;
    }
    .single-breed-wfc-section__item-list {
      @media screen and (min-width: $tablet) {
        width: 65.48%;
      }
      @media screen and (min-width: $desktop) {
        width: 48.94%;
      }
    }
  }
}

.single-breed-conditions-section {
  &__head {
    display: flex;
    gap: 18px;
    justify-content: space-between;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 0px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 8px;
    }

    .single-breed-conditions-button {
      width: 44px;
      height: 44px;
      gap: 8px;
      border-radius: 10px;
      background-color: $primary-color;
      color: $white;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        border: 2px solid $primary-color;
        background-color: $white;
        color: $primary-color;
      }
    }
  }

  &__list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    display: flex;
    flex-direction: column;
  }
  &__list.open {
    max-height: 2000px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 0;
    border-bottom: 3px solid $background;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-between;
      padding: 24px 0;
    }
    @media screen and (min-width: $desktop) {
      padding: 32px 0;
    }

    h3 {
      font-family: $primary-font;
      font-weight: 800;
      font-size: 20px;
      line-height: 20px;
      color: $primary-color;
      @media screen and (min-width: $tablet) {
        font-size: 24px;
        line-height: 24px;
      }
    }

    p {
      font-family: $primary-font;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: $black;
      @media screen and (min-width: $tablet) {
        width: 65.48%;
        font-size: 20px;
        line-height: 25px;
      }
      @media screen and (min-width: $desktop) {
        width: 48.94%;
      }
    }
  }

  &__item:last-child {
    border-bottom: none;
  }
}

.single-breed-documents-section {
  background-color: $background;
  &__heading {
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: baseline;
      gap: 8px;
      margin-bottom: 32px;
    }
    @media screen and (min-width: $desktop) {
      gap: 12px;
      margin-bottom: 40px;
    }
    .heading-svg {
      display: none;
      @media screen and (min-width: $tablet) {
        display: initial;
        width: 26.32px;
        height: 23.53px;
      }
      @media screen and (min-width: $desktop) {
        width: 36.85px;
        height: 32.94px;
      }
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 22px;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    @media screen and (min-width: $desktop) {
      flex-wrap: nowrap;
      gap: 24px;
    }
    .document {
      position: relative;
      background-color: $light-green;
      height: 272px;
      width: 100%;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      @media screen and (min-width: $tablet) {
        max-width: calc((100% - 22px) / 2);
      }
      @media screen and (min-width: $desktop) {
        max-width: calc((100% - 24px * 2) / 3);
      }
      .clip-svg {
        position: absolute;
        z-index: 10;
        top: -27px;
        right: 15px;
        display: initial;
        width: 34.5px;
        height: 87px;
      }
      .document-card {
        &__content {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          padding: 0 32px;
        }
        &__title {
          font-weight: 800;
          font-size: 24px;
          line-height: 1;
          text-align: center;
        }
        &__button {
          gap: 8px;
          margin: 28px 0 64px 0;
        }
      }
    }
  }
}
