.heading-section-single-tip {
  color: #045c6f;
  background-color: #eff8f9;
  padding: 0;
  position: relative;
}
@media screen and (min-width: 1439px) {
  .heading-section-single-tip {
    background-color: #eff8f9;
  }
}
.heading-section-single-tip__background-img {
  display: none;
}
@media screen and (min-width: 1439px) {
  .heading-section-single-tip__background-img {
    display: block;
  }
}
.heading-section-single-tip__wrapper {
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .heading-section-single-tip__wrapper {
    padding: 30px 0;
  }
}
@media screen and (min-width: 1439px) {
  .heading-section-single-tip__wrapper {
    position: absolute;
    background: none;
    top: 123px;
    padding: 0;
    margin: auto;
  }
}
.heading-section-single-tip__list-single-tip {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 30px;
  line-height: 100%;
}
@media screen and (min-width: 768px) {
  .heading-section-single-tip__list-single-tip {
    font-size: 45px;
  }
}
@media screen and (min-width: 1439px) {
  .heading-section-single-tip__list-single-tip {
    font-size: 60px;
  }
}

.single-tip__breadcrumbs-section {
  margin: 12px 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .single-tip__breadcrumbs-section {
    margin: 25.5px 0;
  }
}
@media screen and (min-width: 1439px) {
  .single-tip__breadcrumbs-section {
    margin: 32px 0;
  }
}
.single-tip__section {
  padding: 24px 0 0;
}
@media screen and (min-width: 768px) {
  .single-tip__section {
    padding: 0;
  }
}
@media screen and (min-width: 1439px) {
  .single-tip__section {
    padding-bottom: 80px;
  }
}
.single-tip__breadcrumbs {
  font-weight: 800;
  font-size: 12px;
  line-height: 133%;
  color: #045c6f;
}
@media screen and (min-width: 768px) {
  .single-tip__breadcrumbs {
    font-size: 16px;
  }
}
@media screen and (min-width: 1439px) {
  .single-tip__breadcrumbs {
    font-size: 20px;
  }
}
.single-tip__breadcrumbs-active {
  color: #d11f2a;
}
.single-tip__flex-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1439px) {
  .single-tip__tip-content {
    width: calc(100% - 264px - 36px);
  }
}
.single-tip__tip-heading {
  font-weight: 800;
  font-size: 24px;
  line-height: 117%;
  color: #070707;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .single-tip__tip-heading {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1439px) {
  .single-tip__tip-heading {
    font-size: 30px;
    line-height: 113%;
    margin-bottom: 32px;
  }
}
.single-tip__image {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .single-tip__image {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1439px) {
  .single-tip__image {
    margin-bottom: 32px;
  }
}
.single-tip__text-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-line-clamp: 13;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
}
@media screen and (min-width: 768px) {
  .single-tip__text-content {
    -webkit-line-clamp: 17;
  }
}
@media screen and (min-width: 1439px) {
  .single-tip__text-content {
    overflow: visible;
    -webkit-line-clamp: unset;
  }
}
.single-tip__text {
  font-size: 16px;
  line-height: 131%;
}
@media screen and (min-width: 768px) {
  .single-tip__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
  }
}
.single-tip__sub-heading {
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  color: #045c6f;
  margin: 32px 0 24px;
}
.single-tip__show-whole-button {
  margin-top: 24px;
  gap: 8px;
}
@media screen and (min-width: 1439px) {
  .single-tip__show-whole-button {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .single-tip__slider {
    margin-top: 56px;
  }
}
@media screen and (min-width: 1439px) {
  .single-tip__slider {
    display: none;
  }
}
.single-tip__slider-heading {
  margin-top: 32px;
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  color: #070707;
}
.single-tip__card {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 16px 20px;
  height: 74px;
  width: 264px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16);
  background: #eff8f9;
  margin: 17px 0 24px;
}
@media screen and (min-width: 768px) {
  .single-tip__card {
    margin-bottom: 56px;
  }
}
.single-tip__card-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 131%;
  color: #070707;
}
.single-tip__sidebar {
  display: none;
}
@media screen and (min-width: 1439px) {
  .single-tip__sidebar {
    display: block;
  }
}
.single-tip__sidebar-heading {
  margin-top: 72px;
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  color: #070707;
}
.single-tip__sidebar-card {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 16px 20px;
  width: 264px;
  height: 74px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16);
  background: #eff8f9;
  margin: 17px 0;
}
.single-tip__sidebar-card-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 131%;
  color: #070707;
}/*# sourceMappingURL=single-tip.css.map */