@import "../variables.scss";

body > main > section > div > nav {
    font-weight: 800;
    font-size: 16px;
    line-height: 100%;
    color: $primary-color;
    margin-bottom: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.woocommerce-product-gallery__wrapper {
    margin-bottom: 16px;
}

div.summary.entry-summary > h1 {
    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
    color: $black;
    margin-bottom: 16px;
}

.woocommerce-product-details__short-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 131%;
    color: $black;
    margin-bottom: 16px;
}

.price {
    margin-bottom: 16px;
}