@import "../variables.scss";

.woocommerce-cart table.cart {
    border: none;
    width: 100%;
}

.woocommerce-cart table.cart th {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.38;
    color: $primary-color;
}

/* ----------------------------- Table titles --------------------------*/
.mywoo-cart-table__head {
    display: none;

    @media screen and (min-width: $tablet) {
        display: table-header-group;
    }
}

.mywoo-cart-table__head tr {
        border-bottom: 1px solid transparent;
        box-shadow: inset 0 -1px 0 0 #e1e3e5;
        background: $white;
}

.mywoo-cart-table__head th {

    @media screen and (min-width: $tablet) {
        text-transform: uppercase;
        text-align: left;
        padding: 0;
    }

    @media screen and (min-width: $desktop) {
        padding: 0 0 18px 0;
    } 
}

.mywoo-cart-table__head .product-price {

    @media screen and (min-width: $tablet) {
        text-align: right;
    }
}

/* ------------------------------------- Table body ---------------------------------*/
.mywoo-cart-table__body tr {
    td {
        padding: 0;

        @media screen and (min-width: $tablet) {
            padding: 24px 0 0 0;
        }

        @media screen and (min-width: $desktop) {
            padding: 36px 0 0 0;
        }  
    } 
}

.mywoo-cart-table__body tr:last-child {
    border-bottom: 1px solid transparent;
    box-shadow: inset 0 -1px 0 0 #e1e3e5;
    background: $white;

    td {
        padding-bottom: 32px;

        @media screen and (min-width: $tablet) {
            padding-bottom: 24px;
        }

        @media screen and (min-width: $desktop) {
            padding-bottom: 36px;
        } 
    }
}

.mywoo-cart-table__body .product-thumbnail img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.mywoo-cart-table__body .product-price {
    text-align: right;
}

// Buttons - and +
.single-product__quantity {
    font-weight: 500;
    font-size: 13px;
    line-height: 138%;
    margin-bottom: 8px;
}

.input-group {
    display: flex;
    border: 1px solid rgba(7, 7, 7, 0.15);
    border-radius: 10px;
    padding: 0px 8px;
    width: 168px;
    height: 44px;
    margin-bottom: 16px;
}

.btn-plus {
    margin: 0 17px;
}

.product-add2cart input.qty::-webkit-outer-spin-button,
.product-add2cart input.qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-add2cart input.qty[type=number] {
    -moz-appearance: textfield;
    width: 64px;
    text-align:center;
    font-weight: 500;
    font-size: 13px;
    line-height: 138%;
}

/* ----------------------------------------------- Table footer -----------------------------------*/
.mywoo-cart-table__footer tr {
    th, td {
        padding: 16px 0;

        @media screen and (min-width: $tablet) {
            padding: 24px 0;
        }
    }
}

/*body > div.woocommerce > main > section > div > div.mywoo-cart-form.cart-content > form > table > tfoot > tr:nth-child(1) > th {
    font-weight: 800;
    font-size: 26px;
    line-height: 100%;
    text-align: right;
    color: $red;
}

.mywoo-cart-table__footer .product-subtotal {
    font-weight: 800;
    font-size: 26px;
    line-height: 100%;
    text-align: right;
    color: $red;
}*/


