@import "../variables.scss";

.shop-page {
  margin-top: 80px;
  margin-bottom: 80px;
}
.shop-filters {
  padding: 0;
  margin-bottom: 32px;
  &__description {
    margin-top: 16px;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    @media screen and (min-width: $tablet) {
      margin-top: 24px;
      font-size: 20px;
      line-height: 25px;
    }
  }
  &__categories {
    display: flex;
    gap: 24px;
    list-style: none;
    font-size: 16px;
    font-weight: 800;
    line-height: 1;
    @media screen and (min-width: $tablet) {
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      cursor: pointer;
      border: 2px solid $primary-color;
      border-radius: $big-br;
      font-family: inherit;
      text-align: center;
      padding: 10px 16px;
      color: $primary-color;
      background-color: $white;
      &:active,
      &:focus,
      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }
  }
  &__sorting {
    display: flex;
    justify-content: end;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    margin-top: 16px;
    @media screen and (min-width: $tablet) {
      margin-top: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-top: 32px;
    }
  }
}

.shop-grid {
  padding: 0;
  &__products {
    ul {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 16px;
      @media screen and (min-width: $tablet) {
        grid-template-columns: 1fr 1fr;
        row-gap: 24px;
        column-gap: 24px;
      }
      @media screen and (min-width: $desktop) {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 54px;
      }
    }
  }

  ul > li {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.18);
    position: relative;
    padding: 20px;
    overflow: hidden;
    background-color: rgba(239, 248, 249, 1);
    text-align: center;
    .woocommerce-loop-product__title {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      text-align: left;
      margin-bottom: 10px;
      margin-top: 12px;
      height: 52px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      -webkit-box-orient: vertical;
    }
    .woocommerce-loop-product__link {
      .onsale {
        position: absolute;
        top: 32px;
        left: 32px;
        background-color: rgba(151, 71, 255, 1);
        color: rgba(255, 255, 255, 1);
        border-radius: 10px;
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        padding: 4px;
      }
    }
    .price {
      font-size: 20px;
      font-weight: 800;
      line-height: 25px;
      display: flex;
      justify-content: end;
      gap: 148px;
    }
    .woocommerce-Price-amount.amount {
      text-decoration: none;
    }
    .woocommerce-Price-amount bdi {
      font-size: 20px;
      font-weight: 800;
      line-height: 25px;
    }
    ins {
      font-size: 20px;
      font-weight: 800;
      line-height: 25px;
      text-align: left;

      color: rgba(209, 31, 42, 1);
    }
    a.button {
      background-color: $primary-color;
      color: $white;
      padding: 10px;
      border-radius: 5px;
      text-decoration: none;
      &:hover {
        &:active,
        &:focus,
        &:hover {
          background-color: $white;
          color: $primary-color;
          border: 2px solid $primary-color;
        }
      }
    }
    img {
      border-radius: 8px;
      object-fit: cover;
      overflow: hidden;
      height: 264px;
    }
  }
}
/* Styles for the button wrapper to align buttons */
.button-wrapper {
  display: flex; /* Use flexbox for alignment */
  flex-direction: row-reverse;
  align-items: center; /* Center items vertically */
  justify-content: space-between;
  margin-top: 16px;
  font-size: 18px;

  font-weight: 700;
  line-height: 24px;
  .woocommerce-loop-product__link {
    display: none;
  }
  .add-to-cart-icon {
    height: 44px;
    width: 44px;
  }
}

.button-wrapper .button {
  text-align: center; /* Center the text */
}
.buy-now-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  border: 2px solid $primary-color;
  border-radius: $big-br;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  padding: 10px 16px;
  color: $primary-color;
  background-color: $white;
  width: 240px;
  height: 44px;
  &:active,
  &:focus,
  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}

.filter-button.active {
  background-color: $primary-color;
  color: $white;
}

.filter-button:not(.active) {
  background-color: $white;
  color: $primary-color;
}

.button-icon {
  display: none; /* Hide the icon by default */
  margin-left: 4px; /* Add spacing between icon and text */
  vertical-align: middle; /* Align icon vertically with the text */
}

.filter-button.active .button-icon {
  display: inline-block; /* Show the icon for active buttons */
}

.choices {
  background-color: $white;
  border-radius: 10px;
  width: 345px;
  color: $primary-color;
  font-family: $primary-font;
  margin: 0;
  &.is-focused,
  &.is-open {
    .choices__inner {
      border-radius: 10px;
    }
  }

  &.is-open {
    &::after {
      transform: rotate(180deg);
    }
  }

  &::after {
    border: none;
    width: 12px;
    height: 12px;
    background-color: $primary-color;
    border-radius: 4px;
    margin-top: -6px;
    background-image: url(../../../assets/images/ic_round-arrow-left.svg);
    background-size: cover;
  }
}

.choices__inner {
  padding: 6px 26px 6px 6px;
  min-height: auto;
  border: none;
}

.choices__item {
  font-size: 16px;
}

.choices__list--single {
  padding: 0;
  font-weight: 500;
}

.choices__list--dropdown {
  border: none;
  border-radius: 10px;
  top: calc(100% + 6px);
  padding: 6px;

  & .choices__item--selectable {
    padding: 8px 12px;
    border-radius: 10px;
  }
}

.icon-cart {
  width: 32px;
  height: 32px;
  fill: white;
  color: white;
}
