@import "../variables.scss";

.checkout-cart {
    thead .product-name,
    thead .product-total {
        display: none;
    }
    &__wrapper {
        padding-top: 32px;
        @media screen and (min-width: $desktop) {
            width: 472px;
            padding-top: 0;
            background-color: $light-green;
            padding: 32px;
        }
    }
    &__heading-edit-container {
        display: flex;
        justify-content: space-between;
        font-weight: 800;
        padding: 7px 0;
        a {
            font-size: 16px;
            color: $primary-color;
            padding: 3px 10px;
        }
    }
    &__column-naming {
        display: none;
        @media screen and (min-width: $tablet) {
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
            color: $primary-color;
            font-size: 13px;
            line-height: 18px;
            border-bottom: 1px solid #E1E3E5;
            margin-bottom: 24px;
        }
        @media screen and (min-width: $desktop) {
            display: none;
        }
        &__qty {
            margin-left: 120px;
        }
    }
    &__item {
        display: grid;
        grid-template-columns: 124px 215px;
        grid-template-rows: repeat(3, auto);
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        margin-bottom: 16px;
        @media screen and (min-width: $tablet) {
            grid-template-columns: repeat(4, auto);
            grid-template-rows: 1fr;
            margin-bottom: 24px;
        }
        @media screen and (min-width: $desktop) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            margin-bottom: 40px;
        }
    }
    &__product-image {
        grid-area: 1 / 1 / 2 / 2;
        height: 100px;
        width: 100px;
        margin-right: 24px;
        @media screen and (min-width: $tablet) {
            grid-area: 1 / 1 / 1 / 1;
            margin-right: 20px;
        }
        @media screen and (min-width: $desktop) {
            grid-area: 1 / 1 / 3 / 2;
        }
    }
    &__product-name {
        grid-area: 1 / 2 / 2 / 3;
        width: 100%;
        @media screen and (min-width: $tablet) {
            grid-area: 1 / 2 / 1 / 2;
            width: 264px;
        }
        @media screen and (min-width: $desktop) {
            grid-area: 1 / 2 / 2 / 4;
            padding-top: 12px;
        }
    }
    &__product-price-quantity {
        grid-area: 2 / 2 / 3 / 3;
        color: $red;
        @media screen and (min-width: $tablet) {
            grid-area: 1 / 3 / 1 / 3;
            text-align: left;
            width: 150px;
            display: flex;
            flex-direction: column;
        }
        @media screen and (min-width: $desktop) {
            grid-area: 2 / 2 / 3 / 3;
            font-size: 13px;
            font-weight: 700;
            color: $black;
            padding-bottom: 12px;
            display: block;
        }
    }
    &__product-total {
        grid-area: 3 / 2 / 4 / 3;
        margin-left: auto;
        @media screen and (min-width: $tablet) {
            grid-area: 1 / 4 / 1 / 4;
            width: 162px;
            text-align: right;
        }
        @media screen and (min-width: $desktop) {
            grid-area: 2 / 3 / 3 / 4;
            font-size: 20px;
            font-weight: 800;
            padding-bottom: 12px;
        }
    }
}

.cart_item {
    display: none;
}

body > section > div > div > form.checkout.woocommerce-checkout {
    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}

/* coupon-form */
.checkout_coupon.woocommerce-form-coupon {
    display: flex !important;
    margin-bottom: 24px;
    @media screen and (min-width: $tablet) {
        width: 366px;
    }
    @media screen and (min-width: $desktop) {
        width: 408px;
    }
}

.woocommerce-form-coupon-toggle,
.checkout_coupon.woocommerce-form-coupon p:first-child {
    display: none;
}

.form-row.form-row-first {
    width: calc(50% - 8px);
    @media screen and (min-width: $tablet) {
        width: 210px;
    }
    @media screen and (min-width: $desktop) {
        width: 252px;
    }
}

.form-row.form-row-first .enter-code {
    color: $primary-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    width: 100%;
    border: 1px solid rgba(7, 7, 7, 0.15);
    border-radius: 10px;
    height: 44px;
    padding: 11.5px 16px;
    
}

.form-row.form-row-first .input-text::placeholder{
    color: $primary-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}

.form-row.form-row-last {
    width: calc(50% - 8px);
    @media screen and (min-width: $tablet) {
        width: 140px;
    }
}

.form-row.form-row-last button {
    width: 100%;
    margin-left: 16px;
    height: 44px;
}

tfoot .order-total {
    color: $red;
    font-size: 26px;
    font-weight: 800;
    padding-top: 8px;
}

.woocommerce-remove-coupon {
    display: none;
}

.woocommerce-checkout-review-order-table {
    table-layout: fixed;
    width: 100%;
}

tfoot .cart-subtotal th,
tfoot .order-total th {
    width: 50%;
    text-align: left;
    white-space: nowrap;
}

tfoot .cart-subtotal td,
tfoot .order-total td {
    text-align: right;
}

#form-cart-container {
    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
    }
}

#customer_details {
    @media screen and (min-width: $desktop) {
        width: 616px;
    }
}

/* form-checkout title */

.woocommerce-billing-title {
    margin: 0 0 16px;
    padding: 0;
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
    font-size: 26px;
    color: #121212;
    text-align: justify;
    padding: 0;
    

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin: 0 0 20px;
        text-align: left;
        font-size: 30px;
    }
    
    @media screen and (min-width: 1024px) {
        margin: 0 0 20px;
        text-align: left;
        font-size: 45px;
    }
}

/* header for Contact details form */
.contact-details-header {
    margin: 0 0 20px;
    text-align: left;
    font-size: 26px;
    color: #070707;    

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin: 0 0 20px;
        font-size: 30px;
        color: #070707;        
    }

    @media screen and (min-width: 1024px) {
        margin: 0 0 20px;        
        font-size: 30px;
        color: #070707;
    }
}

.woocommerce-form__label-for-checkbox {
    display: none;
}

.woocommerce-shipping-fields {
    display: none;
}

/* General styles */
input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #eff8f9;
    background-color: #eff8f9;
    padding-left: 14px;
    font-size: 16px;
    resize: none;
    color: #045C6F;

    @media screen and (min-width: 1024px) {
        width: 616px;
    }
    
}

textarea {
    width: 100%;
    height: 140px;
    border-radius: 10px;
    border: 1px solid #eff8f9;
    background-color: #eff8f9;
    padding-left: 14px;
    font-size: 16px;
    resize: none;
    color: #045C6F;
    padding-top: 10px;

    @media screen and (min-width: 1024px) {
        width: 616px;
        height: 140px;
    }
}

/* Placeholder style*/
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder{
    color: #045C6F;
    opacity: 1;
    width: 100%;
    height: 48px;
}

textarea::placeholder {
    color: #045C6F;
    opacity: 1;
    width: 100%;
    height: 140px;    
}

/* Styling for fields in focus */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border-color: #0071a1;
    box-shadow: 0 0 5px rgba(0, 113, 161, 0.5);
    outline: none;
}

.woocommerce-billing-fields {
    margin-bottom: 24px;
}

.woocommerce-billing-fields__field-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;    
}

#billing_first_name_field,
#billing_last_name_field,
#billing_phone_field,
#billing_email_field {
    width: 100%;
    box-sizing: border-box;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        width: calc(50% - 24px);
        margin: 0;
    }
}

#order_comments_field {
    width: 100%;
    margin-bottom: 24px;
    box-sizing: border-box;
}

.delivery-title {
    padding-top: 32px;
    padding-bottom: 24px;
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    color: #070707;

    @media screen and (min-width: $tablet) {
        margin-top: 56px;
        margin-bottom: 24px;
        padding: 0;
        font-size: 30px;       
    }

    @media screen and (min-width: $desktop) {
        margin-top: 64px;
        margin-bottom: 24px;
    }
}

.delivery-option {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 32px;

        @media screen and (min-width: $tablet) {
            flex-wrap: nowrap;
            justify-content: flex-start;
        }

        @media screen and (min-width: $desktop) {
            margin-bottom: 64px;
            padding-bottom: 0;
        }
}

.delivery-pickup {
    width: 100%;
    height: 66px;
    text-align: center; 
    color: #045C6F;
    border-radius: 10px;
    border: 2px solid #045C6F;

    @media screen and (min-width: $tablet) {
        width: 235px;
        height: 66px;
        margin-bottom: 0;
    }
}

.delivery-pickup-title {
    padding-top: 10px;
    font-weight: bold;
    font-size: 16px;
}

.delivery-pickup-text {
    font-size: 13px;
}

.delivery-pickup:focus,
.delivery-pickup:hover {
    border-color: #0071a1;
    box-shadow: 0 0 5px rgba(0, 113, 161, 0.5);
    outline: none;
}

/* Fixed state after pressing */
.delivery-pickup.selected {    
    border-color: #0071a1;
    box-shadow: 0 0 5px rgba(0, 113, 161, 0.5);
    outline: none;
}

.delivery-nova-poshta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 66px;
    border-radius: 10px;
    border: 2px solid #D11F2A;
    margin-bottom: 24px;

    @media screen and (min-width: $tablet) {
        width: 168.82px;
        height: 66px;
        margin-bottom: 0;
    }
}

.delivery-nova-poshta img {
    display: block;
    margin: 0;
    width: 128px;
    height: 46px;
}

.delivery-nova-poshta:focus,
.delivery-nova-poshta:hover {
    border-color: #D11F2A;
    box-shadow: 0 0 5px #c7192785;
    outline: none;
}

/* Fixed state after pressing */
.delivery-nova-poshta.selected {
    border-color: #D11F2A;
    box-shadow: 0 0 5px #c7192785;
    outline: none;
}


.payment-block {
    margin-left: 16px;

    @media screen and (min-width: $tablet) {
        margin-left: 0;
    }

}

.payment-title {
    padding-bottom: 16px;
    padding-left: 16px;
    text-align: left;
    font-weight: bold;        
    font-size: 30px;
    color: #070707;

    @media screen and (min-width: $tablet) {
        padding-top: 0;
        padding-left: 0;
    }
}

.payment-option {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 32px;
    width: 343px;
    height: 270px;

    @media screen and (min-width: $tablet) {
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: auto;
        height: auto;
    }
}

.payment-1, 
.payment-2,
.payment-3,
.payment-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 104px;
    border-radius: 10px;
    border: 1px solid #070707;
}

.payment-1:focus,
.payment-1:hover,
.payment-2:focus,
.payment-2:hover,
.payment-3:focus,
.payment-3:hover,
.payment-4:focus,
.payment-4:hover {
    border-color: #070707;
    box-shadow: 0 0 5px #4c4c4c85;
    outline: none;
}

.payment-1.selected,
.payment-2.selected,
.payment-3.selected,
.payment-4.selected {
    border-color: #070707;
    box-shadow: 0 0 5px #4c4c4c85;
    outline: none;
}

.payment-1 img,
.payment-2 img,
.payment-3 img,
.payment-4 img { 
    width: 76.06px;
    height: 72px;
} 

.checkout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    width: 212px;
    height: 56px;
    border-radius: 10px;
    background-color: #D11F2A;
    color: #FFFFFF;

    @media screen and (min-width: $desktop) {
        margin: 0;
    }
}

.checkout-button:hover,
.checkout-button:focus {
    border-color: #FFFFFF;
    box-shadow: 0 0 5px #c7192785;
    outline: 2px solid #FFFFFF;
}

.checkout-button-title {
    font-size: 24px;
    font-weight: bold;
}

