@import "../variables.scss";

.woocommerce-breadcrumb {
    font-weight: 800;
    font-size: 16px;
    line-height: 100%;
    color: $primary-color;
    margin-bottom: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.red_breadcrumb {
    color: $red;
}

.woocommerce-product-gallery__wrapper {
    margin-bottom: 16px;
}

div.summary.entry-summary > h1 {
    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 16px;
}

.woocommerce-product-details__short-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 131%;
    margin-bottom: 16px;
}

.price {
    margin-bottom: 16px;
}

.single-product__quantity {
    font-weight: 500;
    font-size: 13px;
    line-height: 138%;
    margin-bottom: 8px;
}

.input-group {
    display: flex;
    border: 1px solid rgba(7, 7, 7, 0.15);
    border-radius: 10px;
    padding: 0px 8px;
    width: 168px;
    height: 44px;
    margin-bottom: 16px;
}

.btn-plus {
    margin: 0 17px;
}

.product-add2cart input.qty::-webkit-outer-spin-button,
.product-add2cart input.qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-add2cart input.qty[type=number] {
    -moz-appearance: textfield;
    width: 64px;
    text-align:center;
    font-weight: 500;
    font-size: 13px;
    line-height: 138%;
}

.single_add_to_cart_button {
    color: $white;
    background-color: $primary-color;
}

.single_add_to_cart_button svg {
    margin-left: 12px;
}

.single_add_to_cart_button-buy {
    color: $white;
    background-color: $red;
}

.single_add_to_cart_button-connect {
    color: #428bc1;
    background-color: $white;
    border: 2px solid #428bc1;
}

.single_add_to_cart_button-buy,
.single_add_to_cart_button,
.single_add_to_cart_button-connect {
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    width: 100%;
    padding: 10px 0;
    margin: 0 auto 8px;
    border-radius: 10px;
}

.single-product__flex-container {
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }
    
}

.entry-summary {
    @media screen and (min-width: $tablet) {
        width: 322px;
    }
    @media screen and (min-width: $desktop) {
        width: 440px;
    }
}

.single-product__sharing-buttons {
    margin-top: 60px;
    text-align: center;
}