html {
  scroll-behavior: smooth;
}
.club-membership-sections-heading,
.club-membership .registration-section__heading,
.club-membership .benefits-section__heading,
.club-membership .gallery-section__heading,
.club-membership .selina-rules__heading,
.club-membership .club-rules-section__heading {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .club-membership-sections-heading,
  .club-membership .registration-section__heading,
  .club-membership .benefits-section__heading,
  .club-membership .gallery-section__heading,
  .club-membership .selina-rules__heading,
  .club-membership .club-rules-section__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    gap: 8px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership-sections-heading,
  .club-membership .registration-section__heading,
  .club-membership .benefits-section__heading,
  .club-membership .gallery-section__heading,
  .club-membership .selina-rules__heading,
  .club-membership .club-rules-section__heading {
    gap: 12px;
    margin-bottom: 40px;
  }
}
.club-membership-sections-heading .heading-svg,
.club-membership .registration-section__heading .heading-svg,
.club-membership .benefits-section__heading .heading-svg,
.club-membership .gallery-section__heading .heading-svg,
.club-membership .selina-rules__heading .heading-svg,
.club-membership .club-rules-section__heading .heading-svg {
  display: none;
}
@media screen and (min-width: 768px) {
  .club-membership-sections-heading .heading-svg,
  .club-membership .registration-section__heading .heading-svg,
  .club-membership .benefits-section__heading .heading-svg,
  .club-membership .gallery-section__heading .heading-svg,
  .club-membership .selina-rules__heading .heading-svg,
  .club-membership .club-rules-section__heading .heading-svg {
    display: initial;
    width: 26.32px;
    height: 23.53px;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership-sections-heading .heading-svg,
  .club-membership .registration-section__heading .heading-svg,
  .club-membership .benefits-section__heading .heading-svg,
  .club-membership .gallery-section__heading .heading-svg,
  .club-membership .selina-rules__heading .heading-svg,
  .club-membership .club-rules-section__heading .heading-svg {
    width: 36.85px;
    height: 32.94px;
  }
}
.club-membership .upper-section {
  background-color: #eff8f9;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .club-membership .upper-section {
    padding: 30px 0;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .upper-section {
    background-color: none;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 118.5px 0;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .upper-section__banner {
    width: 823px;
  }
}
.club-membership .upper-section__heading {
  font-size: 30px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .club-membership .upper-section__heading {
    font-size: 45px;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .upper-section__heading {
    font-size: 60px;
    margin-bottom: 24px;
  }
}
.club-membership .upper-section__sub-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
}
@media screen and (min-width: 1439px) {
  .club-membership .upper-section__sub-titles {
    -webkit-column-gap: 36px;
    -moz-column-gap: 36px;
    column-gap: 36px;
    row-gap: 16px;
  }
}
.club-membership .upper-section__sub-titles .sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  gap: 10px;
  font-weight: 800;
  font-size: 16px;
  line-height: 1;
  color: #045c6f;
  padding: 4px 0;
}
@media screen and (min-width: 768px) {
  .club-membership .upper-section__sub-titles .sub-title {
    font-size: 20px;
    padding: 7.5px 0;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .upper-section__sub-titles .sub-title {
    padding: 0;
  }
}
.club-membership .upper-section__sub-titles .sub-title-svg {
  width: 14px;
  height: 12px;
}
@media screen and (min-width: 1439px) {
  .club-membership .upper-section__sub-titles .sub-title-svg {
    width: 18px;
    height: 16px;
  }
}
.club-membership .club-rules-section {
  background-color: #cfe4e6;
}
.club-membership .club-rules-section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.club-membership .club-rules-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 1439px) {
  .club-membership .club-rules-section__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.club-membership .club-rules-section__upper-card {
  height: 462px;
  width: 100%;
  border-radius: 10px;
}
@media screen and (min-width: 998px) {
  .club-membership .club-rules-section__upper-card {
    height: 643px;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .club-rules-section__upper-card {
    width: 552px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
.club-membership .club-rules-section__upper-card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}
.club-membership .club-rules-section__lower-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  border-radius: 10px;
  padding: 24px;
}
.club-membership .club-rules-section__lower-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 21.1px;
}
@media screen and (min-width: 768px) {
  .club-membership .club-rules-section__lower-card-wrapper {
    gap: 25px;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .club-rules-section__lower-card-wrapper {
    gap: 21.5px;
  }
}
.club-membership .club-rules-section__lower-card-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.31;
}
@media screen and (min-width: 768px) {
  .club-membership .club-rules-section__lower-card-title {
    font-size: 20px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .club-rules-section__lower-card-title {
    line-height: 1;
  }
}
.club-membership .club-rules-section__lower-card-list {
  list-style-type: disc;
  padding-left: 24px;
}
.club-membership .club-rules-section__lower-card-list li {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.31;
  margin-bottom: 21.1px;
}
@media screen and (min-width: 768px) {
  .club-membership .club-rules-section__lower-card-list li {
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .club-rules-section__lower-card-list li {
    font-size: 16px;
    line-height: 1.31;
    margin-bottom: 21px;
  }
}
.club-membership .club-rules-section__lower-card-list li:last-child {
  margin-bottom: 0;
}
.club-membership .club-rules-section__lower-card-text {
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
}
.club-membership .selina-rules {
  position: relative;
  padding: 37px 0 32px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .club-membership .selina-rules {
    padding: 59px 0 56px;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .selina-rules {
    padding: 80px 0;
  }
}
.club-membership .selina-rules__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.club-membership .selina-rules__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .club-membership .selina-rules__title {
    margin-bottom: 43px;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .selina-rules__title {
    font-size: 45px;
    margin-bottom: 40px;
  }
}
.club-membership .selina-rules__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .club-membership .selina-rules__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 47px;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .selina-rules__cards {
    width: 1130px;
    margin-bottom: 64px;
  }
}
.club-membership .selina-rules-card {
  border-radius: 10px;
  padding: 24px;
  width: 100%;
  height: 204px;
  background-color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .club-membership .selina-rules-card {
    max-width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .selina-rules-card {
    max-width: 553px;
    width: 553px;
    height: 172px;
  }
}
.club-membership .selina-rules-card__content {
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  text-align: center;
}
.club-membership .selina-rules__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px 10px 10px 14px;
  width: 253px;
  height: 44px;
  gap: 8px;
}
.club-membership .selina-rules::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: -175px -28px;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: -1;
}
@media screen and (min-width: 564px) {
  .club-membership .selina-rules::before {
    background-position: 0 0;
  }
}
@media screen and (min-width: 768px) {
  .club-membership .selina-rules::before {
    background-position: 0px -250px;
  }
}
@media screen and (min-width: 1024px) {
  .club-membership .selina-rules::before {
    background-position: 0px -600px;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .selina-rules::before {
    background-position: 0px -650px;
  }
}
@media screen and (min-width: 1550px) {
  .club-membership .selina-rules::before {
    background-position: 0px -900px;
  }
}
@media screen and (min-width: 1920px) {
  .club-membership .selina-rules::before {
    background-position: 0px -1055px;
  }
}
.club-membership .gallery-section {
  background-color: #cfe4e6;
}
.club-membership .gallery-section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .club-membership .gallery-section__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .club-membership .gallery-section__wrapper .gallery-section__heading {
    grid-area: 1/1/2/2;
  }
  .club-membership .gallery-section__wrapper .gallery-section__text {
    grid-area: 2/1/3/3;
  }
  .club-membership .gallery-section__wrapper .gallery-section__swiper {
    grid-area: 3/1/4/3;
  }
  .club-membership .gallery-section__wrapper .gallery-section__pagination {
    grid-area: 1/2/2/3;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .gallery-section__heading {
    margin-bottom: 20px;
  }
}
.club-membership .gallery-section__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.31;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .club-membership .gallery-section__text {
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .gallery-section__text {
    width: 653px;
    margin-bottom: 20px;
  }
}
.club-membership .gallery-section__swiper {
  width: 100%;
  height: 228px;
  margin-bottom: 24px;
}
@media screen and (min-width: 498px) {
  .club-membership .gallery-section__swiper {
    height: 400px;
  }
}
@media screen and (min-width: 768px) {
  .club-membership .gallery-section__swiper {
    height: 307px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .gallery-section__swiper {
    width: 1128px;
  }
}
.club-membership .gallery-section__swiper .swiper-slide {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.club-membership .gallery-section__swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.club-membership .gallery-section__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .club-membership .gallery-section__pagination {
    width: 124px;
    justify-self: flex-end;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}
.club-membership .gallery-section__arrow-btn {
  width: 44px;
  height: 44px;
  gap: 8px;
  border-radius: 10px;
  background-color: #045c6f;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
.club-membership .gallery-section__arrow-btn svg {
  height: 15px;
  width: 16px;
  fill: currentColor;
  margin-left: 4px;
}
.club-membership .gallery-section__arrow-btn:hover {
  background-color: #fff;
  color: #045c6f;
}
.club-membership .benefits-section__wrapper .benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .club-membership .benefits-section__wrapper .benefits {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.club-membership .benefits-section__wrapper .benefits__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  padding: 0 1.5px;
}
@media screen and (min-width: 768px) {
  .club-membership .benefits-section__wrapper .benefits__card {
    max-width: calc((100% - 20px) / 2);
    padding: 0;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .benefits-section__wrapper .benefits__card {
    max-width: calc((100% - 40px) / 3);
    height: 332px;
  }
}
.club-membership .benefits-section__wrapper .benefits__card-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}
.club-membership .benefits-section__wrapper .benefits__card-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .club-membership .benefits-section__wrapper .benefits__card-text {
    font-size: 20px;
    line-height: 1.25;
  }
}
.club-membership .registration-section {
  background-color: #cfe4e6;
}
.club-membership .registration-section__heading {
  margin-bottom: 24px;
}
@media screen and (min-width: 1439px) {
  .club-membership .registration-section__heading {
    margin-bottom: 40px;
  }
}
.club-membership .registration-section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.club-membership .registration-section__wrapper .red-text {
  color: #d11f2a;
}
@media screen and (min-width: 1439px) {
  .club-membership .registration-section__wrapper .second-black-text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 0;
  }
}
.club-membership .registration-section__text {
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 24px;
}
@media screen and (min-width: 1439px) {
  .club-membership .registration-section__text {
    font-size: 24px;
    margin-bottom: 40px;
  }
}
.club-membership .registration-section__stages .stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .club-membership .registration-section__stages .stages {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 24px;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .registration-section__stages .stages {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 40px;
  }
}
.club-membership .registration-section__stages .stages__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
  padding: 24px;
  width: 100%;
  height: 320px;
  -webkit-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}
@media screen and (min-width: 768px) {
  .club-membership .registration-section__stages .stages__card {
    max-width: calc((100% - 24px) / 2);
    height: 386px;
    gap: 24px;
  }
}
@media screen and (min-width: 1439px) {
  .club-membership .registration-section__stages .stages__card {
    max-width: calc((100% - 48px) / 3);
    height: 386px;
  }
}
.club-membership .registration-section__stages .stages__card-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #045c6f;
  border-radius: 10px;
  width: 83px;
  height: 77px;
}
.club-membership .registration-section__stages .stages__card-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  padding: 0px 8px;
}
@media screen and (min-width: 768px) {
  .club-membership .registration-section__stages .stages__card-title {
    font-size: 24px;
    height: 48px;
  }
}
@media screen and (min-width: 778px) {
  .club-membership .registration-section__stages .stages__card-title {
    height: 24px;
  }
}
.club-membership .registration-section__stages .stages__card-text {
  list-style-type: disc;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.31;
  -ms-flex-item-align: start;
  align-self: flex-start;
  text-align: left;
  padding-left: 48px;
}
@media screen and (min-width: 768px) {
  .club-membership .registration-section__stages .stages__card-text {
    font-size: 20px;
    line-height: 1.25;
  }
}
.club-membership .registration-section__button {
  -ms-flex-item-align: center;
  align-self: center;
  margin-top: 16px;
}
@media screen and (min-width: 1439px) {
  .club-membership .registration-section__button {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}
