@import "./variables.scss";

.footer {
    background: $primary-color;
    color: $white;
    padding: 32px 0 12px;
        @media screen and (min-width: $tablet) {
        padding: 20px 0 13px;
      }
      @media screen and (min-width: $desktop) {
        padding: 24px 0 16px;
    }
    &__menu-list-wrapper {
        @media screen and (min-width: $tablet) {
            padding: 16px 0 16px;
        }
        @media screen and (min-width: $desktop) {
            padding: 0;
        }
    }
    &__menu-list-wrapper ul {
        display: none;
        @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 32px;
          }
    &__menu-list-wrapper ul li a {
        font-weight: 800;
        font-size: 21px;
        line-height: 119%;
    }
    /* Grid for menu at 1440px */
        @media screen and (min-width: $desktop) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 365px;
            row-gap: 24px;
            column-gap: 32px;
            justify-content: flex-start;
        }
    }
    &__logo{
        display: none;
        @media screen and (min-width: $desktop) {
            display: block;
            margin-bottom: 18px;
        }
    }
    &__socials{
        margin-bottom: 16px;
        @media screen and (min-width: $tablet) {
            display: flex;
            justify-content: center;
            margin: 0 auto 20px;
        }
        @media screen and (min-width: $desktop) {
            width: 227px;
            margin: 0 0 -75px;
        }
    }
    &__icons-list {
        display: flex;
        justify-content: space-between;
        @media screen and (min-width: $tablet) {
            justify-content: unset;
            gap: 24px;
        }
    }
    &__icon {
        width: 44px;
        height: 44px;
        @media screen and (min-width: $desktop) {
            width: 28px;
            height: 28px;
        }
    }
    &__contacts{
        @media screen and (min-width: $tablet) {
            display: flex;
            justify-content: space-between;
            padding-bottom: 8px;
          }

          @media screen and (max-width: $tablet) {
            .footer__mail {
                order: 1;
            }
            .footer__location {
                order: 2;
            }
            .footer__phone {
                order: 3;
            }

          }
      
          @media screen and (min-width: $desktop) {
            flex-direction: column;
            justify-content: flex-start;
            margin: 0;
            padding: 0;
          }
    }
    &__contacts-icon{
        width: 44px;
        height: 44px;
        @media screen and (min-width: $desktop) {
            width: 28px;
            height: 28px;
        }
    }

    &__mail,
    &__phone,
    &__location{
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        line-height: 131%;
        @media screen and (min-width: $tablet) {
            flex-direction: column;
            width: 218px;
        }
        @media screen and (min-width: $desktop) {
            flex-direction: row;
        }
    }

    &__mail,
    &__phone{
        margin-bottom: 4px;
        @media screen and (min-width: $tablet) {
            margin-bottom: 0;
        }
        @media screen and (min-width: $desktop) {
            margin-bottom: 4px;
        }
    }

    &__location{
        padding-bottom: 8px;
        @media screen and (min-width: $tablet) {
            padding-bottom: 0;
        }
    }

    &__line{
        border: none;
        height: 1px;
        background-color: $white;
        margin: 8px 0;
    }
    &__politic-copy {
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        padding-top: 8px;
        @media screen and (min-width: $desktop) {
            padding-top: 12px;
        }
    }

    &__menu-list-wrapper {
        grid-area: menu;
    }

    &__logo {
        grid-area: logo;
    }
    
    &__socials {
        grid-area: socials;
    }
    
    &__contacts {
        grid-area: contacts;
    }
    
    &__line {
        grid-area: line;
    }
    
    &__politic-copy {
        grid-area: politic-copy;
    }


    .sub-menu{
        height: fit-content !important;
        @media screen and (min-width: $tablet) {
            display: none !important;
        }

        @media screen and (min-width: $desktop) {
            display: block !important;
        }
    }

    .menu-item-custom{
        margin: 8px 0 8px;
    }
    
    .menu-item a {
        @media screen and (min-width: $tablet) {
            font-size: 18px;
            font-weight: 800;
            line-height: 244%;
        }
        @media screen and (min-width: $desktop) {
            font-size: 21px;
            font-weight: 800;
            line-height: 119%;
        }
    }
    
    .menu-item li a {
        display: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 131%;
        @media screen and (min-width: $tablet) {
            display: block;
          }
      
          @media screen and (min-width: $desktop) {
            margin-top: 8px;
          }
    }
    
    /* center p tsisyk street */
    #footer-address {
        text-align: center;
        @media screen and (min-width: $desktop) {
            text-align: left;
        }
    }
    
    /* changed order of sections 1&2 on 768px*/
    // .container {
        @media screen and (min-width: $desktop) {
            display: flex;
            flex-direction: column;
        }
    
        .footer__socials {
            order: 1;
        }
    
        .footer__menu-list-wrapper {
            order: 2; 
        }
    
        .footer__contacts {
            order: 3;
        }
    
        .footer__line {
            order: 4; 
        }
    
        .footer__politic-copy {
            order: 5; 
        }
    
    //     @media screen and (min-width: $desktop) {
    //         display: block;
    //     }
    // }
    
    // .footer-container {
    //     @media screen and (min-width: $desktop) {
    //         display: grid;
    //         grid-template-columns: 1fr 227px;
    //         grid-template-areas: 
    //         "menu logo"
    //         "menu socials"
    //         "menu contacts"
    //         "line line"
    //         "politic-copy politic-copy";
    //     }
    // }

    

    .footer__logo, .footer__socials, .footer__contacts {
        @media screen and (min-width: $desktop) {
            display: none;
        }
    }



    
    /* changed order of menu items on 768px*/
    .footer__menu-list-wrapper {
        @media screen and (max-width: $desktop) {
                // "menu-item-312" "menu-item-310" "menu-item-309" "menu-item-308"
                // "menu-item-439" "menu-item-307" "menu-item-306" "menu-item-305" "menu-item-311" "menu-item-319"
                // "menu-item-313" "menu-item-318"
            .menu-item-312 {
                order: 1;
                margin-left: 65px;
            }

            .menu-item-310 {
                order: 2;
            }
            
            .menu-item-309 {
                order: 3;
            }

            .menu-item-308 {
                order: 4;
                margin-right: 65px;
            }

            .menu-item-439 {
                order: 5;
            }

            .menu-item-307 {
                order: 6;
            }

            .menu-item-306 {
                order: 7;
            }

            .menu-item-305 {
                order: 8;
            }
            .menu-item-311 {
                order: 9;
            }

            .menu-item-319 {
                order: 10;
            }
            .menu-item-313 {
                order: 11;
            }

            .menu-item-318 {
                order: 12;
            }
        }
    }

    /*------------------Up-button---------------------------*/
    .up_btn {
    display: none;
    box-sizing: content-box;
    position: fixed;
    bottom: 16px;
    right: 8px;
    z-index: 1000;
    background-color: transparent;
    cursor: pointer;
    @media screen and (min-width: $tablet) {
        display: block;
        bottom: 417px;
      }
    @media screen and (min-width: $desktop) {
      display: block;
      right: 184px;
    }
  }

//   Styles for Right-side Logo & Icons etc, appeared at $desktop (class="footer__side-part")

    .big-footer-wrapper {
        @media screen and (min-width: $desktop) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    #no-display {
        display: none;
        @media screen and (min-width: $desktop) {
            display: block;
        }
    }

    &__logo-side img {
        width: 227px;
        height: 65px;
    }

    &__icons-list {
        @media screen and (min-width: $desktop) {
            gap: 16px;
            padding: 18px 0 25px;
        }
    }

    &__contacts-icom img {
        @media screen and (min-width: $desktop) {
            width: 28px;
            width: 28px;
        }
    }


}
