@import "./variables.scss";

.footer {
    background: $primary-color;
    color: $white;
    padding-top: 24px;
    padding-bottom: 16px;
    font-family: $primary-font;

    @media (min-width: $mobile) {
        padding-top: 64px;
        padding-bottom: 64px;
        
    }
    @media (min-width: $tablet) {
        padding-top: 56px;
        padding-bottom: 56px;
        
    }
    @media (min-width: $desktop) {
        padding-top: 56px;
        padding-bottom: 56px;
        
    }
    @media (min-width: $full) {
        padding-top: 20px;
        padding-bottom: 40px;
    
}

.footer-heading {
    font-size: 21px;
    line-height: 119%;
    font-weight: 800;
}

.footer-wrapper{
    display: flex;
}

.footer-logo{
    display: flex;
    align-items: center;
}

.footer-copyright-wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid $white;
}
}

/* $mobile: 375px;
$tablet: 768px;
$desktop: 1440px;
$full: 1920px; */


@media screen and (min-width: $mobile) {

}

@media screen and (min-width: $tablet) {

}

@media screen and (min-width: $desktop) {

}

@media screen and (min-width: $full) {

}