@import "./variables.scss";

.footer {
    background: $primary-color;
    color: $white;
    padding-top: 32px;
    padding-bottom: 12px;
    @media screen and (min-width: $tablet) {
        padding-top: 0;
      }
    &__menu-list-wrapper {
        @media screen and (min-width: $tablet) {
            padding: 16px 0 16px;
        }
    }
    &__menu-list-wrapper ul {
        display: none;
        font-weight: 800;
        font-size: 18px;
        line-height: 244%;
        @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 32px;
          }
      
          @media screen and (min-width: $desktop) {
            display: block;
          }
    }
    &__logo{
        display: none;
        @media screen and (min-width: $desktop) {
            display: block;
        }
    }
    &__socials{
        margin-bottom: 16px;
        @media screen and (min-width: $tablet) {
            width: 316px;
            margin: 20px auto;
        }
    }
    &__icons-list{
        display: flex;
        justify-content: space-between;
    }
    &__icon{
        width: 44px;
        height: 44px;
    }
    &__contacts{
        @media screen and (min-width: $tablet) {
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
            margin-bottom: 8px;
            padding-bottom: 8px;
          }
      
          @media screen and (min-width: $desktop) {
            flex-direction: column;
          }
    }
    &__contacts-icon{
        width: 44px;
        height: 44px;
    }
    &__mail,
    &__phone,
    &__location{
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 131%;
        @media screen and (min-width: $tablet) {
            flex-direction: column;
            width: 218px;
        }
        @media screen and (min-width: $desktop) {
        flex-direction: row;
        }
    }

    &__line{
        border: none;
        height: 1px;
        background-color: $white;
        margin: 8px 0 8px;
    }
    &__politic-copy{
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        padding-top: 8px;
    }
}

.menu-item li {
    display: none;
    color: black;
    @media screen and (min-width: $tablet) {
        display: block;
      }
  
      @media screen and (min-width: $desktop) {
        /* Need do this style */
      }
}

.sub-menu{
    @media screen and (min-width: $tablet) {
        display: none !important;
    }
  
    @media screen and (min-width: $desktop) {
        display: block !important;
    }
}

/* center p tsisyk street */
#revell {
    text-align: center;
}

/* changed order of sections 1&2 on 768px*/
.container {
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: column;
    }

    .footer__socials {
        order: 1;
    }

    .footer__menu-list-wrapper {
        order: 2; 
    }

    .footer__contacts {
        order: 3;
    }

    .footer__line {
        order: 4; 
    }

    .footer__politic-copy {
        order: 5; 
    }

    @media screen and (min-width: $desktop) {
        display: block;
        
    }
}

.footer-container {
    @media screen and (min-width: $desktop) {
        display: grid;
        grid-template-columns: 1fr 227px;
        grid-template-areas: 
        "menu logo"
        "menu socials"
        "menu contacts"
        "line line"
        "politic-copy politic-copy";
    }
}

.footer {
    &__menu-list-wrapper {
        grid-area: menu;
    }

    &__logo {
        grid-area: logo;
    }
    
    &__socials {
        grid-area: socials;
    }
    
    &__contacts {
        grid-area: contacts;
    }
    
    &__line {
        grid-area: line;
    }
    
    &__politic-copy {
        grid-area: politic-copy;
    }
}
