.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section {
  padding: 32px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 56px 0;
  }
}
@media screen and (min-width: 1439px) {
  .section {
    padding: 80px 0;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1439px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1439px) {
  .container {
    max-width: 1128px;
    padding: 0;
  }
}

.section_heading {
  font-size: 26px;
  font-weight: 800;
  line-height: 1;
  color: #045c6f;
}
@media screen and (min-width: 768px) {
  .section_heading {
    font-size: 30px;
  }
}
@media screen and (min-width: 1439px) {
  .section_heading {
    font-size: 45px;
  }
}

.main_heading {
  font-size: 24px;
  font-weight: 800;
  line-height: 1;
}
@media screen and (min-width: 1439px) {
  .main_heading {
    font-size: 45px;
  }
}

.button, .btn_icon, .button_green_new, .button-red_new, .transparent_medium_button, .green_medium_button, .red_medium_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 8px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  padding: 10px 16px;
}

.red_medium_button {
  color: #fff;
  background-color: #d11f2a;
}
.red_medium_button:hover {
  color: #d11f2a;
  background-color: #fff;
}
.red_medium_button:focus {
  color: #fff;
  background-color: #aa0610;
}
.red_medium_button:active {
  color: #fff;
  background-color: #960b13;
}

.green_medium_button {
  color: #fff;
  background-color: #045c6f;
}
.green_medium_button:hover, .green_medium_button:focus {
  color: #045c6f;
  background-color: #fff;
}

.transparent_medium_button {
  color: #045c6f;
  background-color: none;
  border: 1px solid transparent;
  transition: border 0.3s;
  font-size: 20px;
  line-height: 1.2;
  padding: 10px;
  gap: 8px;
}
.transparent_medium_button:hover {
  border: 1px solid #045c6f;
}
.transparent_medium_button:focus {
  color: #fff;
  background-color: #045c6f;
}
.transparent_medium_button:active {
  color: #fff;
  background-color: #064b5a;
}

.button-red_new {
  background-color: #d11f2a;
  color: #fff;
}
.button-red_new:hover {
  background-color: #fff;
  color: #d11f2a;
}
.button-red_new:focus {
  background-color: #aa0610;
  color: #fff;
}
.button-red_new:active {
  color: #fff;
  background-color: #960b13;
}

.button_green_new {
  border: 2px solid #045c6f;
  color: #045c6f;
}
.button_green_new:hover {
  background-color: #045c6f;
  color: #fff;
}
.button_green_new:focus {
  background-color: #035162;
  color: #fff;
}
.button_green_new:active {
  color: #fff;
  background-color: #064b5a;
}

.btn_icon {
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: #045c6f;
  color: #fff;
}
.btn_icon:enabled:hover, .btn_icon:focus {
  background-color: #fff;
  color: #045c6f;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=global.css.map */