// containers
@import "./variables.scss";
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section {
  padding: 32px 0;
  @media screen and (min-width: $tablet) {
    padding: 56px 0;
  }
  @media screen and (min-width: $desktop) {
    padding: 80px 0;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: $tablet) {
    max-width: $desktop;
    padding: 0 43.5px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1128px;
    padding: 0;
  }
}

//headings
.section_heading {
  //styleName: Headings/Heading 26;
  font-size: 26px;
  font-weight: 800;
  line-height: 1;
  color: $primary-color;
  @media screen and (min-width: $tablet) {
    font-size: 30px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 45px;
  }
}

.main_heading {
  //styleName: Headings/Heading xlarge;
  font-size: 24px;
  font-weight: 800;
  line-height: 1;
  @media screen and (min-width: $desktop) {
    font-size: 45px;
  }
}

//buttons
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: $big-br;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  padding: 10px 16px;
}

//red button
.red_medium_button {
  @extend .button;
  color: $white;
  background-color: $red;
  &:hover,
  &:focus {
    color: $red;
    background-color: $white;
  }
}

//green button
.green_medium_button {
  @extend .button;
  color: $white;
  background-color: $primary-color;
  &:hover,
  &:focus {
    color: $primary-color;
    background-color: $white;
  }
}

//btn arrow, minus, plus
.btn_icon {
  @extend .button;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: $primary-color;
  &:hover,
  &:focus {
    background-color: $white;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
