.header {
  padding-bottom: 88px;
}
@media screen and (min-width: 1439px) {
  .header {
    padding-bottom: 0;
  }
}
.header .header-top {
  display: none;
}
@media screen and (min-width: 768px) {
  .header .header-top {
    padding: 16px 0;
  }
}
@media screen and (min-width: 1439px) {
  .header .header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
  }
}
.header .header-top .social-media {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .header .header-top .social-media {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1439px) {
  .header .header-top .social-media {
    gap: 18px;
  }
}
.header .header-top .black-logo {
  display: none;
}
.header .header-top .black-logo a img {
  filter: invert(100%) brightness(200%);
}
@media screen and (min-width: 768px) {
  .header .header-top .black-logo {
    display: block;
    position: absolute;
    left: 51%;
    transform: translate(-50%, 10px);
  }
}
@media screen and (min-width: 1439px) {
  .header .header-top .black-logo {
    left: 50%;
  }
}
.header .header-top .wrapper-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .header .header-top .wrapper-buttons {
    gap: 16px;
  }
}
@media screen and (min-width: 1439px) {
  .header .header-top .wrapper-buttons {
    width: 264px;
  }
}
.header .header-top .wrapper-buttons .buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.header .header-top .wrapper-buttons .buttons .registration-btn {
  border-radius: 4px;
  font-size: 13px;
  padding: 5px 10px;
}
.header .header-top .wrapper-buttons .buttons .login-btn {
  border-radius: 4px;
  padding: 5px 11px;
  border: 1px solid #045c6f;
  color: #045c6f;
  font-size: 13px;
}
.header .header-bottom {
  background-color: #045c6f;
  padding: 16px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}
@media screen and (min-width: 1439px) {
  .header .header-bottom {
    position: static;
    padding: 12px 0;
  }
}
.header .header-bottom .bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 1439px) {
  .header .header-bottom .bottom-row .white-logo {
    display: none;
  }
}
.header .header-bottom .bottom-row .menu-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  transition: 0.5s ease-in-out;
  position: relative;
}
@media screen and (min-width: 1439px) {
  .header .header-bottom .bottom-row .menu-btn {
    display: none;
  }
}
.header .header-bottom .bottom-row .menu-btn .burger {
  width: 44px;
  height: 5px;
  background: #fff;
  transition: 0.25s ease-in-out;
  border-radius: 10px;
}
.header .header-bottom .bottom-row .menu-btn .burger::before,
.header .header-bottom .bottom-row .menu-btn .burger:after {
  content: "";
  position: absolute;
  width: 44px;
  height: 5px;
  background: #fff;
  transition: 0.2s ease-in-out;
  border-radius: 10px;
}
.header .header-bottom .bottom-row .burger::before {
  transform: translateY(-12px);
}
.header .header-bottom .bottom-row .burger::after {
  transform: translateY(12px);
}
.header .header-bottom .bottom-row .open .burger {
  background-color: transparent;
}
.header .header-bottom .bottom-row .open .burger::before {
  transform: rotate(-45deg);
}
.header .header-bottom .bottom-row .open .burger::after {
  transform: rotate(45deg);
}
@media screen and (min-width: 1439px) {
  .header .header-bottom .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.header .header-bottom .nav-menu .header__list {
  display: none;
}
@media screen and (min-width: 1439px) {
  .header .header-bottom .nav-menu .header__list {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}
.header .header-bottom .nav-menu .header__list .menu-item {
  text-transform: capitalize;
}
.header .header-bottom .nav-menu .header__list .menu-item a {
  color: #045c6f;
  display: block;
}
.header .header-bottom .nav-menu .header__list .menu-item a:hover {
  text-shadow: 1px 0 0 currentColor;
}
@media screen and (min-width: 768px) {
  .header .header-bottom .nav-menu .header__list .menu-item a {
    font-size: 13px;
    color: white;
  }
}
@media screen and (min-width: 1439px) {
  .header .header-bottom .nav-menu .header__list .menu-item a {
    font-size: 16px;
  }
}
.header .header-bottom .nav-menu .header__list .menu-item .sub-menu {
  width: 270px;
  display: none;
  flex-direction: column;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 0 4px 5px 0 rgba(25, 33, 61, 0.05);
  margin-top: 14px;
  gap: 0;
  padding: 6px;
  z-index: 100;
  background-color: #fff;
}
.header .header-bottom .nav-menu .header__list .menu-item .sub-menu .menu-item:hover {
  background-color: #cfdedd;
  border-radius: 6px;
  height: 41px;
}
.header .header-bottom .nav-menu .header__list .menu-item .sub-menu .menu-item:hover a {
  color: #045c6f;
  padding-left: 35px;
}
.header .header-bottom .nav-menu .header__list .menu-item .sub-menu .menu-item:hover a:before {
  content: "";
  background-image: url("../../assets/images/paw-6.svg");
  background-repeat: no-repeat;
  position: absolute;
  height: 17px;
  width: 18px;
  left: 15px;
  transform: translateY(-14%);
}
.header .header-bottom .nav-menu .header__list .menu-item .sub-menu .menu-item a {
  color: #045c6f;
  padding: 14px 16px 14px 10px;
  white-space: nowrap;
  line-height: 16px;
}
.header .header-bottom .nav-menu .header__list .menu-item .active-sub_menu {
  display: flex;
  flex-direction: column;
}
.header .header-bottom .nav-menu .header__list .menu-item .active-sub_menu .menu-item {
  text-transform: none;
}
.header .header-bottom .nav-menu .header__list .menu-item .sub-menu li::after {
  display: none;
}
.header .header-bottom .nav-menu .search {
  display: none;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #fff;
}
@media screen and (min-width: 1439px) {
  .header .header-bottom .nav-menu .search {
    width: 264px;
    display: flex;
    padding: 3px 8px;
    border: 1px solid #045c6f;
    position: static;
    margin-top: 0;
  }
}
.header .header-bottom .nav-menu .search .search-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 2px;
  padding: 0 8px;
}
@media screen and (min-width: 1439px) {
  .header .header-bottom .nav-menu .search .search-wrapper {
    padding: 0 0;
    position: relative;
  }
}
.header .header-bottom .nav-menu .search .search-wrapper ::-moz-placeholder {
  font-size: 16px;
  color: #045c6f;
}
.header .header-bottom .nav-menu .search .search-wrapper ::placeholder {
  font-size: 16px;
  color: #045c6f;
}
@media screen and (min-width: 1439px) {
  .header .header-bottom .nav-menu .search .search-wrapper ::-moz-placeholder {
    font-size: 13px;
    font-weight: inherit;
  }
  .header .header-bottom .nav-menu .search .search-wrapper ::placeholder {
    font-size: 13px;
    font-weight: inherit;
  }
}
.header .header-bottom .nav-menu .search .search-wrapper button {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 1439px) {
  .header .header-bottom .nav-menu .search .search-wrapper button {
    width: 18px;
    height: 18px;
    position: absolute;
    top: -3px;
  }
}
.header .header-bottom .nav-menu .search .search-wrapper svg {
  width: 12px;
  height: 12px;
}
@media screen and (min-width: 1439px) {
  .header .header-bottom .nav-menu .search .search-wrapper svg {
    width: 10px;
    height: 10px;
  }
}
.header .header-bottom .nav-menu .search .search-wrapper input {
  font-size: 17px;
  width: 304px;
}
@media screen and (min-width: 768px) {
  .header .header-bottom .nav-menu .search .search-wrapper input {
    width: 383px;
  }
}
@media screen and (min-width: 1439px) {
  .header .header-bottom .nav-menu .search .search-wrapper input {
    width: 231px;
    box-sizing: border-box;
    padding-left: 20px;
  }
}
.header .header-bottom .nav-menu .search input[type=search]::-webkit-search-cancel-button,
.header .header-bottom .nav-menu .search input[type=search]::-webkit-search-decoration,
.header .header-bottom .nav-menu .search input[type=search]::-webkit-search-results-button,
.header .header-bottom .nav-menu .search input[type=search]::-webkit-search-results-decoration {
  display: none;
}
.header .content-mobile {
  display: none;
}
.header .mobile-menu {
  position: fixed;
  background-color: #eff8f9;
  overflow: auto;
  padding: 16px;
  width: 100%;
  left: 0;
  top: 88px;
  padding-bottom: 35px;
}
@media screen and (min-width: 768px) {
  .header .mobile-menu {
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 0;
    max-width: 487px;
    padding: 32px;
    top: 89px;
  }
}
.header .header-mobile {
  display: block;
}
@media screen and (min-width: 1439px) {
  .header .header-mobile {
    display: none;
  }
}
.header .header-mobile .header__list-mobile {
  text-align: left;
  padding-top: 65px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
@media (min-width: 320px) {
  .header .header-mobile .header__list-mobile {
    margin-bottom: 20px;
  }
}
@media (min-width: 375px) {
  .header .header-mobile .header__list-mobile {
    margin-bottom: 32px;
  }
}
.header .header-mobile .header__list-mobile .menu-item {
  color: #045c6f;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
  width: 50%;
  position: relative;
}
@media (min-width: 320px) {
  .header .header-mobile .header__list-mobile .menu-item {
    font-size: 17px;
  }
}
@media (min-width: 375px) {
  .header .header-mobile .header__list-mobile .menu-item {
    font-size: 20px;
  }
}
.header .header-mobile .header__list-mobile .menu-item a svg {
  fill: #045c6f;
}
.header .header-mobile .header__list-mobile .menu-item .sub-menu {
  display: none;
}
.header .header-mobile .header__list-mobile .menu-item .sub-menu .menu-item {
  margin-bottom: 4px;
}
.header .header-mobile .header__list-mobile .menu-item .sub-menu .menu-item a {
  white-space: nowrap;
  font-weight: 500;
}
.header .header-mobile .header__list-mobile .menu-item .active-sub_menu-mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
}
.header .header-mobile .header__list-mobile .menu-item .active-sub_menu-mobile .menu-item {
  text-transform: none;
}
.header .header-mobile .active {
  padding-bottom: 85px;
}
.header .header-mobile .social-media {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
  gap: 15px;
}
@media (min-width: 768px) {
  .header .header-mobile .social-media {
    gap: 31px;
  }
}
.header .header-mobile .social-media img {
  width: 35px;
}
@media (min-width: 375px) {
  .header .header-mobile .social-media img {
    width: 44px;
  }
}
.header .header-mobile .phone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .header .header-mobile .phone {
    align-items: flex-end;
  }
}
.header .header-mobile .phone span {
  color: #045c6f;
  font-size: 20px;
  font-weight: 800;
}
.header .header-mobile .phone a {
  font-size: 16px;
  font-weight: 500;
}
.header .show-search {
  margin-top: 16px;
  display: flex !important;
  align-items: center;
  background: #fff;
  position: absolute;
  top: 84px;
  height: 44px;
  z-index: 1;
}
@media (min-width: 320px) {
  .header .show-search {
    width: 291px;
  }
}
@media (min-width: 375px) {
  .header .show-search {
    width: 343px;
  }
}
@media (min-width: 768px) {
  .header .show-search {
    width: 423px;
    right: 32px;
    margin-top: 16px;
  }
}
.header .buttons {
  display: flex;
  flex-direction: row;
}
@media (min-width: 320px) {
  .header .buttons {
    gap: 12px;
  }
}
@media (min-width: 375px) {
  .header .buttons {
    gap: 24px;
  }
}
.header .buttons .login-btn {
  border: 2px solid #045c6f;
  color: #045c6f;
  padding: 8px 10px;
}
@media (min-width: 375px) {
  .header .buttons .login-btn {
    padding: 8px 14px;
  }
}
.header .buttons .registration-btn {
  font-size: 18px;
}
@media (min-width: 320px) {
  .header .buttons .registration-btn {
    padding: 10px 11px;
  }
}
@media (min-width: 375px) {
  .header .buttons .registration-btn {
    padding: 10px 17px;
  }
}
.header .buttons .switch {
  position: relative;
  width: 86px;
  height: 44px;
  border: 2px solid #045c6f;
  border-radius: 50px;
}
@media (min-width: 320px) {
  .header .buttons .switch .flag-ua {
    left: 39px;
    top: 5px;
    height: 30px;
  }
}
@media (min-width: 330px) {
  .header .buttons .switch .flag-ua {
    left: 44px;
  }
}
@media (min-width: 375px) {
  .header .buttons .switch .flag-ua {
    left: 43px;
    top: 4px;
    height: 32px;
  }
}

@media (min-width: 1439px) {
  .switch {
    position: relative;
    width: 55px;
    height: 28px;
    border: 1px solid #045c6f;
    border-radius: 50px;
  }
}

.switch > span {
  position: absolute;
  pointer-events: none;
}

@media (min-width: 320px) {
  .switch > span.on-lang {
    top: 6px;
    left: 6px;
  }
}
@media (min-width: 330px) {
  .switch > span.on-lang {
    left: 10px;
  }
}
@media (min-width: 340px) {
  .switch > span.on-lang {
    left: 10px;
  }
}
@media (min-width: 768px) {
  .switch > span.on-lang {
    top: 5px;
    left: 7px;
  }
}
@media (min-width: 1439px) {
  .switch > span.on-lang {
    left: 5px;
    top: 2px;
  }
}

@media (min-width: 320px) {
  .switch > .off-lang {
    left: 38px;
    top: 5px;
  }
}
@media (min-width: 330px) {
  .switch > .off-lang {
    left: 44px;
  }
}
@media (min-width: 768px) {
  .switch > .off-lang {
    left: 44px;
    top: 5px;
  }
}
@media (min-width: 1439px) {
  .switch > .off-lang {
    left: 25px;
    top: 2px;
  }
}

.switch > span.off {
  right: 0;
}
@media (min-width: 768px) {
  .switch > span.off {
    top: 6px;
  }
}
@media (min-width: 1439px) {
  .switch > span.off {
    left: 30px;
    top: 3px;
  }
}

.check-toggle {
  margin-left: -9999px;
  visibility: hidden;
}

.check-toggle + label {
  display: block;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  width: 86px;
  height: 44px;
  top: 0;
  position: absolute;
}
@media (min-width: 1439px) {
  input.check-toggle-round-flat + label {
    height: 28px;
    width: 55px;
  }
}

input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + span:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
}

input.check-toggle-round-flat + span:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 20px;
  height: 20px;
  background-color: #fff;
}

.flag-ua {
  background-image: url("../images/ua_flag-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 320px) {
  .flag-ua {
    height: 28px;
  }
}
@media (min-width: 330px) {
  .flag-ua {
    height: 32px;
  }
}
@media (min-width: 375px) {
  .flag-ua {
    height: 32px;
    width: 32px;
  }
}
@media (min-width: 1439px) {
  .flag-ua {
    height: 20px;
    width: 20px;
  }
}

.lang-size {
  text-transform: uppercase;
  color: #045c6f;
  display: block;
  font-weight: 800;
  width: 28px;
  height: 20px;
}
@media (min-width: 320px) {
  .lang-size {
    font-size: 19px;
  }
}
@media (min-width: 375px) {
  .lang-size {
    left: -2px;
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .lang-size {
    width: 30px;
    height: 20px;
  }
}
@media (min-width: 1439px) {
  .lang-size {
    width: 22px;
    height: 16px;
    font-size: 16px;
    position: absolute;
  }
}

.flag-en {
  background-image: url("../images/en_flag-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 320px) {
  .flag-en {
    top: 6px;
    left: 6px;
    width: 28px;
    height: 30px;
  }
}
@media (min-width: 375px) {
  .flag-en {
    left: 7px;
    top: 6px;
  }
}
@media (min-width: 380px) {
  .flag-en {
    top: 6px;
  }
}
@media (min-width: 768px) {
  .flag-en {
    height: 32px;
    width: 32px;
    left: 5px;
    top: 4px;
  }
}
@media (min-width: 1439px) {
  .flag-en {
    height: 20px;
    width: 20px;
    left: 3px;
    top: 3px;
  }
}

input.check-toggle-round-flat:checked ~ .on {
  background-image: none;
}

input.check-toggle-round-flat:checked ~ .off-lang {
  text-indent: -99999px;
}

input.check-toggle-round-flat:not(:checked) ~ .on-lang {
  text-indent: -99999px;
}

input.check-toggle-round-flat:not(:checked) ~ .off {
  background-image: none;
}/*# sourceMappingURL=header.css.map */