@import "./variables.scss";


.header {

  // Header top
  .header-top {
    display: none;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0;
    }


    .social-media {
      display: flex;
      flex-direction: row;
      gap: 15px;
    }

    .black-logo {

      a {
        img {
          filter: invert(100%) brightness(200%);
        }
      }

      @media screen and (min-width: $tablet) {
        position: absolute;
        left: 51%;
        transform: translate(-50%, 10px);
      }

      @media screen and (min-width: $desktop) {
        top: 10px;
        left: 50%;
      }


    }

    .wrapper-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;


      @media screen and (min-width: $tablet) {
        gap: 16px;
      }

      @media screen and (min-width: $desktop) {
        width: 264px;
      }


      .buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .registration-btn {
          border-radius: $small-br;
          font-size: 13px;
          padding: 5px 10px;
        }


        .login-btn {
          border-radius: $small-br;
          padding: 5px 11px;
          border: 1px solid $primary-color;
          color: $primary-color;
          font-size: 13px;
        }

      }

      .switch {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid $primary-color;
        border-radius: 50px;
        gap: 5px;
        padding: 0 5px;
        height: 28px;

        .language {
          font-size: 14px;
          color: $primary-color;
          font-weight: 800;
        }
      }
    }


  }


  // Header bottom
  .header-bottom {
    background-color: $primary-color;
    padding: 12px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;


    @media screen and (min-width: $tablet) {
      position: static;
    }


    .bottom-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }


    .white-logo {

      @media screen and (min-width: $tablet) {
        display: none;
      }
    }

    .burger {

      @media screen and (min-width: $tablet) {
        display: none;
      }

    }


    //.row {
    //
    //  display: none;
    //
    //  @media screen and (min-width: $tablet) {
    //    display: flex;
    //    flex-direction: row;
    //    justify-content: space-between;
    //  }


    .nav-menu {


      @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }


      // close-btn

      .close-btn {
        position: absolute;
        right: 22px;
        top: 62px;

        @media screen and (min-width: $tablet) {
          display: none;
        }

        @media screen and (min-width: $desktop) {
          display: none;
        }
      }


      .header__list {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $tablet) {
          display: flex;
          flex-direction: row;
          gap: 20px;
        }
        @media screen and (min-width: $desktop) {
          gap: 32px;
        }

        .menu-item {
          color: $white;
          @media screen and (min-width: $tablet) {
            font-size: 13px;
          }

          @media screen and (min-width: $desktop) {
            font-size: 16px;
          }
        }
      }

      .search {
        height: 38px;
        border-radius: $big-br;
        border: 1px solid $primary-color;
        background-color: $white;
        padding: 2px 8px;
        display: flex;
        width: 166px;


        @media screen and (min-width: $tablet) {
          width: 120px;
        }

        @media screen and (min-width: $desktop) {
          width: 264px
        }


        .search-wrapper {

          display: flex;
          flex-direction: row;
          align-items: baseline;
          gap: 5px;
          padding: 0 8px;

          ::placeholder {
            font-size: 13px;
            color: $primary-color;
          }
        }
      }

    }

    .mobile-menu {
      position: fixed;
      top: 0;
      right: -100%;
      width: 70%;
      height: 100vh;
      transition: right .4s;
      padding: 6rem 3rem 0;
      background-color: $primary-color;
    }


    .hide-menu {
      display: none;
    }


    .show-menu {
      right: 0;
    }

    .header__list li:not(:nth-child(3)):not(:nth-child(5)):not(:nth-child(6)):not(:nth-child(7))::after {
      content: url("../images/ic_round-arrow-left.svg");
      margin-left: 5px;
    }

  }

}
