@import "./variables.scss";


.header {
  padding-bottom: 80px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 0;
  }

  // Header top
  .header-top {
    display: none;

    @media screen and (min-width: $tablet) {
      padding: 16px 0;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 12px 0;
    }


    .social-media {
      display: flex;
      flex-direction: row;
      gap: 15px;
      margin-bottom: 32px;

      @media screen and (min-width: $tablet) {
        margin-bottom: 0;
      }

      @media screen and (min-width: $desktop) {
        gap: 18px;
      }

    }

    .black-logo {
      display: none;

      a {
        img {
          filter: invert(100%) brightness(200%);
        }
      }

      @media screen and (min-width: $tablet) {
        display: block;
        position: absolute;
        left: 51%;
        transform: translate(-50%, 10px);
      }

      @media screen and (min-width: $desktop) {
        left: 50%;
      }


    }

    .wrapper-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 15px;


      @media screen and (min-width: $tablet) {
        gap: 16px;
      }

      @media screen and (min-width: $desktop) {
        width: 264px;
      }


      .buttons {
        display: flex;
        flex-direction: row;
        gap: 15px;

        .registration-btn {
          border-radius: $small-br;
          font-size: 13px;
          padding: 5px 10px;
        }


        .login-btn {
          border-radius: $small-br;
          padding: 5px 11px;
          border: 1px solid $primary-color;
          color: $primary-color;
          font-size: 13px;
        }

      }
    }
  }


  // Header bottom
  .header-bottom {
    background-color: $primary-color;
    padding: 16px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;

    @media screen and (min-width: $desktop) {
      position: static;
      padding: 12px 0;
    }

    .bottom-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;


      .white-logo {

        @media screen and (min-width: $desktop) {
          display: none;
        }
      }

      // menu-btn burger
      .menu-btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        transition: 0.5s ease-in-out;
        position: relative;

        @media screen and (min-width: $desktop) {
          display: none;
        }

        .burger {
          width: 44px;
          height: 5px;
          background: $white;
          transition: 0.25s ease-in-out;
          border-radius: 10px;
        }

        .burger::before,
        .burger:after {
          content: '';
          position: absolute;
          width: 44px;
          height: 5px;
          background: $white;
          transition: .2s ease-in-out;
          border-radius: 10px;
        }

      }

      .burger::before {
        transform: translateY(-12px);
      }

      .burger::after {
        transform: translateY(12px);
      }

      .open .burger {
        background-color: transparent;
      }

      .open .burger::before {
        transform: rotate(-45deg);
      }

      .open .burger::after {
        transform: rotate(45deg);
      }

    }

    .nav-menu {

      @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .header__list {
        display: none;

        @media screen and (min-width: $desktop) {
          display: flex;
          flex-direction: row;
          gap: 32px;
        }

        .menu-item {
          text-transform: capitalize;

          a {
            color: $primary-color;
            display: block;

            &:hover {
              text-shadow: 1px 0 0 currentColor;
            }

            @media screen and (min-width: $tablet) {
              font-size: 13px;
              color: white;
            }

            @media screen and (min-width: $desktop) {
              font-size: 16px;
            }
          }

          .sub-menu {
            width: 270px;
            display: none;
            flex-direction: column;
            position: absolute;
            border: 1px solid $white;
            border-radius: 8px;
            box-shadow: 0 4px 5px 0 rgba(25, 33, 61, 0.05);
            margin-top: 14px;
            gap: 0;
            padding: 6px;
            z-index: 100;
            background-color: $white;

            .menu-item {

              &:hover {
                background-color: #cfdedd;
                border-radius: 6px;
                height: 41px;

                a {
                  color: $primary-color;
                  padding-left: 35px;

                  &:before {
                    content: '';
                    background-image: url("../../assets/images/paw-6.svg");
                    background-repeat: no-repeat;
                    position: absolute;
                    height: 17px;
                    width: 18px;
                    left: 15px;
                    transform: translateY(-14%);
                  }
                }
              }

              a {
                color: $primary-color;
                padding: 14px 16px 14px 10px;
                white-space: nowrap;
                line-height: 16px;
              }
            }
          }

          .active-sub_menu {
            display: flex;
            flex-direction: column;

            .menu-item {
              text-transform: none;
            }
          }

          .sub-menu li::after {
            display: none;
          }

        }
      }

      .search {
        display: none;

        @media screen and (min-width: $desktop) {
          width: 264px;
          display: flex;
          border-radius: $big-br;
          border: 1px solid $primary-color;
          background-color: $white;
          padding: 3px 8px;
        }

        .search-wrapper {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          gap: 5px;
          padding: 0 8px;

          ::placeholder {
            font-size: 13px;
            color: $primary-color;
          }
        }

        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration {
          display: none;
        }
      }
    }

  }


  .content-mobile {
    display: none;
  }

  .mobile-menu {
    position: fixed;
    height: 100vh;
    background-color: #eff8f9;
    overflow: auto;
    padding: 16px;
    width: 100%;
    left: 0;
    top: 88px;

    @media screen and (min-width: $tablet) {
      left: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      right: 0;
      max-width: 487px;
      padding-right: 32px;
      padding-left: 32px;
    }
  }


  .header-mobile {
    display: block;

    @media screen and (min-width: $desktop) {
      display: none;
    }

    .header__list-mobile {
      .menu-item {
        color: $primary-color;
        font-weight: 800;
        font-size: 20px;
        margin-bottom: 16px;
        text-transform: capitalize;

        @media screen and (min-width: $tablet) {
          text-align: right;
        }

        a {
          svg {
            fill: $primary-color;
          }
        }

        .sub-menu {
          display: none;

          .menu-item {
            a {
              white-space: nowrap;
              font-weight: 500;
            }
          }
        }

        .active-sub_menu-mobile {
          display: flex;
          flex-direction: column;
          padding: 16px 15px;
          @media screen and (min-width: 375px) {
            padding: 16px 24px;
          }

          .menu-item {
            text-transform: none;
          }
        }
      }

    }

    .flex {
      display: flex;
      flex-direction: column;

      .social-media {
        display: flex;
        flex-direction: row;
        margin-bottom: 32px;
        gap: 15px;

        @media (min-width: $tablet) {
          gap: 31px;
        }

        img {
          width: 35px;
          @media (min-width: 375px) {
            width: 44px;
          }
        }
      }
    }

  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    @media (min-width: 375px) {
      gap: 24px;
    }

    .login-btn {
      border: 2px solid $primary-color;
      color: $primary-color;
      padding: 8px 10px;
      @media (min-width: 375px) {
        padding: 8px 14px;
      }
    }

    .registration-btn {
      padding: 10px 17px;
      font-size: 18px;
    }

    .switch {
      width: 86px;
      padding: 19px 0;
      border: 2px solid $primary-color;
      @media (min-width: 375px) {
        padding: 20px 0;
      }

      input.check-toggle-round-flat + label {
        height: 44px;
        width: 70px;
        top: -2px;
        @media (min-width: 375px) {
          width: 86px;
        }
      }

      span {
        font-size: 18px;
        top: 5px;
        @media (min-width: 375px) {
          font-size: 20px;
        }
      }

      .off {
        padding-right: 12px;
      }

      .flag-ua {
        left: 38px;
        @media (min-width: 375px) {
          left: 43px;
          top: 4px;
        }
      }
    }
  }
}


.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 55px;
  height: 28px;
  border: 1px solid $primary-color;
  border-radius: 50px;
}

.switch > span {
  position: absolute;
  top: 2px;
  pointer-events: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  right: 25px;
  text-align: center;
  color: $primary-color;

  @media (min-width: $desktop) {
    font-size: 16px;
  }

}

.switch > span.on {
  left: -9px;
  padding-left: 2px;
  @media (min-width: $tablet) {
    left: -15px;
  }
  @media (min-width: $desktop) {
    left: -1px;
    top: 3px;
  }
}


.switch > span.off {
  right: 0;
  padding-right: 4px;
  @media (min-width: $tablet) {
    top: 6px;
  }
  @media (min-width: $desktop) {
    left: 27px;
    top: 3px;
  }
}

.check-toggle {
  margin-left: -9999px;
  visibility: hidden;
}

.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  height: 35px;
  width: 56px;
  top: -6px;
  position: absolute;
}

input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + span:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
}

input.check-toggle-round-flat + span:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 20px;
  height: 20px;
  background-color: #fff;
}

.flag-ua {
  background-image: url("../images/ua_flag-2.svg");
  background-repeat: no-repeat;
  left: 29px;
  height: 32px;
  background-size: contain;

  @media (min-width: $desktop) {
    height: 20px;
    background-position: 3px;
  }
}

.flag-en {
  background-image: url("../images/en_flag-2.svg");
  background-repeat: no-repeat;
  background-position: 14px;
  background-size: contain;
  height: 32px;
  @media (min-width: $tablet) {
    background-position: 20px;
  }
  @media (min-width: $desktop) {
    height: 20px;
    background-position: 5px;
  }
}

input.check-toggle-round-flat:checked ~ .on {
  background-image: none;
}

input.check-toggle-round-flat:checked ~ .off {
  text-indent: -99999px;
}

input.check-toggle-round-flat:not(:checked) ~ .on {
  text-indent: -99999px;
}

input.check-toggle-round-flat:not(:checked) ~ .off {
  background-image: none;
}

