@import "./variables.scss";

.header {
  padding-bottom: 40px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 88px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 0;
  }

  // Header top
  .header-top {
    display: none;

    @media screen and (min-width: $tablet) {
      padding: 16px 0;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 12px 0;
    }

    .social-media {
      display: flex;
      flex-direction: row;
      gap: 15px;
      margin-bottom: 32px;

      @media screen and (min-width: $tablet) {
        margin-bottom: 0;
      }

      @media screen and (min-width: $desktop) {
        gap: 18px;
      }
    }

    .black-logo {
      display: none;

      a {
        img {
          filter: invert(100%) brightness(200%);
        }
      }

      @media screen and (min-width: $tablet) {
        display: block;
        position: absolute;
        left: 51%;
        transform: translate(-50%, 10px);
      }

      @media screen and (min-width: $desktop) {
        left: 50%;
      }
    }

    .wrapper-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 15px;

      @media screen and (min-width: $tablet) {
        gap: 16px;
      }

      @media screen and (min-width: $desktop) {
        width: 264px;
      }

      .buttons {
        display: flex;
        flex-direction: row;
        gap: 15px;

        .registration-btn {
          border-radius: $small-br;
          font-size: 13px;
          padding: 5px 10px;
        }

        .login-btn {
          border-radius: $small-br;
          padding: 5px 11px;
          border: 1px solid $primary-color;
          color: $primary-color;
          font-size: 13px;
        }
      }
    }
  }

  // Header bottom
  .header-bottom {
    background-color: $primary-color;
    padding: 16px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;

    @media screen and (min-width: $tablet) {
      top: 45px;
    }

    @media screen and (min-width: 783px) {
      top: 32px;
    }

    @media screen and (min-width: $desktop) {
      position: static;
      padding: 12px 0;
    }

    .bottom-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .white-logo {
        @media screen and (min-width: $desktop) {
          display: none;
        }
      }

      // menu-btn burger
      .menu-btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        transition: 0.5s ease-in-out;
        position: relative;

        @media screen and (min-width: $desktop) {
          display: none;
        }

        .burger {
          width: 44px;
          height: 5px;
          background: $white;
          transition: 0.25s ease-in-out;
          border-radius: 10px;
        }

        .burger::before,
        .burger:after {
          content: "";
          position: absolute;
          width: 44px;
          height: 5px;
          background: $white;
          transition: 0.2s ease-in-out;
          border-radius: 10px;
        }
      }

      .burger::before {
        transform: translateY(-12px);
      }

      .burger::after {
        transform: translateY(12px);
      }

      .open .burger {
        background-color: transparent;
      }

      .open .burger::before {
        transform: rotate(-45deg);
      }

      .open .burger::after {
        transform: rotate(45deg);
      }
    }

    .nav-menu {
      @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .header__list {
        display: none;

        @media screen and (min-width: $desktop) {
          display: flex;
          flex-direction: row;
          gap: 32px;
        }

        .menu-item {
          text-transform: capitalize;

          a {
            color: $primary-color;
            display: block;

            &:hover {
              text-shadow: 1px 0 0 currentColor;
            }

            @media screen and (min-width: $tablet) {
              font-size: 13px;
              color: white;
            }

            @media screen and (min-width: $desktop) {
              font-size: 16px;
            }
          }

          .sub-menu {
            width: 270px;
            display: none;
            flex-direction: column;
            position: absolute;
            border: 1px solid $white;
            border-radius: 8px;
            box-shadow: 0 4px 5px 0 rgba(25, 33, 61, 0.05);
            margin-top: 14px;
            gap: 0;
            padding: 6px;
            z-index: 100;
            background-color: $white;

            .menu-item {
              &:hover {
                background-color: #cfdedd;
                border-radius: 6px;
                height: 41px;

                a {
                  color: $primary-color;
                  padding-left: 35px;

                  &:before {
                    content: "";
                    background-image: url("../../assets/images/paw-6.svg");
                    background-repeat: no-repeat;
                    position: absolute;
                    height: 17px;
                    width: 18px;
                    left: 15px;
                    transform: translateY(-14%);
                  }
                }
              }

              a {
                color: $primary-color;
                padding: 14px 16px 14px 10px;
                white-space: nowrap;
                line-height: 16px;
              }
            }
          }

          .active-sub_menu {
            display: flex;
            flex-direction: column;

            .menu-item {
              text-transform: none;
            }
          }

          .sub-menu li::after {
            display: none;
          }
        }
      }

      .search {
        display: none;
        border-radius: $big-br;
        background-color: $white;
        border: 1px solid $white;

        @media screen and (min-width: $desktop) {
          width: 264px;
          display: flex;
          padding: 3px 8px;
          border: 1px solid $primary-color;
          position: static;
          margin-top: 0;
        }

        .search-wrapper {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          gap: 2px;
          padding: 0 8px;
          @media screen and (min-width: $desktop) {
            padding: 0 0;
            position: relative;
          }

          ::placeholder {
            font-size: 16px;
            color: $primary-color;
            @media screen and (min-width: $desktop) {
              font-size: 13px;
              font-weight: inherit;
            }
          }

          button {
            width: 24px;
            height: 24px;
            @media screen and (min-width: $desktop) {
              width: 18px;
              height: 18px;
              position: absolute;
              top: -3px;
            }
          }

          svg {
            width: 12px;
            height: 12px;
            @media screen and (min-width: $desktop) {
              width: 10px;
              height: 10px;
            }
          }

          input {
            font-size: 17px;
            width: 304px;
            @media screen and (min-width: $tablet) {
              width: 383px;
            }
            @media screen and (min-width: $desktop) {
              width: 231px;
              box-sizing: border-box;
              padding-left: 20px;
            }
          }
        }

        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration {
          display: none;
        }
      }
    }
  }

  .content-mobile {
    display: none;
  }

  .mobile-menu {
    position: fixed;
    background-color: #eff8f9;
    overflow: auto;
    padding: 16px;
    width: 100%;
    left: 0;
    top: 79px;
    height: 570px;

    @media screen and (min-width: $tablet) {
      left: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      right: 0;
      max-width: 487px;
      padding: 32px;
      top: 134px;
    }
  }

  .header-mobile {
    display: block;

    @media screen and (min-width: $desktop) {
      display: none;
    }

    .header__list-mobile {
      text-align: left;
      margin-bottom: 32px;
      padding-top: 82px;
      display: flex;
      flex-wrap: wrap;

      .menu-item {
        color: $primary-color;
        font-weight: 800;
        font-size: 20px;
        margin-bottom: 16px;
        text-transform: capitalize;
        width: 50%;

        a {
          svg {
            fill: $primary-color;
          }
        }

        .sub-menu {
          display: none;

          .menu-item {
            a {
              white-space: nowrap;
              font-weight: 500;
            }
          }
        }

        .active-sub_menu-mobile {
          display: flex;
          flex-direction: column;
          padding: 16px 15px;
          @media screen and (min-width: 375px) {
            padding: 16px 24px;
          }

          .menu-item {
            text-transform: none;
          }
        }
      }
    }

    .social-media {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 32px;
      gap: 15px;

      @media (min-width: $tablet) {
        gap: 31px;
      }

      img {
        width: 35px;
        @media (min-width: 375px) {
          width: 44px;
        }
      }
    }

    .phone {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 32px;

      span {
        color: $primary-color;
        font-size: 20px;
        font-weight: 800;
      }

      a {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .show-search {
    margin-top: 16px;
    display: flex !important;
    align-items: center;
    background: #fff;
    position: absolute;
    top: 93px;
    height: 44px;
    z-index: 1;

    @media (min-width: 320px) {
      width: 291px;
    }

    @media (min-width: 375px) {
      width: 343px;
    }

    @media (min-width: $tablet) {
      width: 423px;
      right: 32px;
      margin-top: 16px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;

    @media (min-width: 320px) {
      gap: 12px;
    }

    @media (min-width: 375px) {
      gap: 24px;
    }

    .login-btn {
      border: 2px solid $primary-color;
      color: $primary-color;
      padding: 8px 10px;
      @media (min-width: 375px) {
        padding: 8px 14px;
      }
    }

    .registration-btn {
      font-size: 18px;
      @media (min-width: 320px) {
        padding: 10px 11px;
      }
      @media (min-width: 375px) {
        padding: 10px 17px;
      }
    }

    .switch {
      position: relative;
      width: 86px;
      height: 44px;
      border: 2px solid $primary-color;
      border-radius: 50px;

      .flag-ua {
        @media (min-width: 320px) {
          left: 39px;
          top: 5px;
          height: 30px;
        }

        @media (min-width: 330px) {
          left: 44px;
        }

        @media (min-width: 375px) {
          left: 43px;
          top: 4px;
          height: 32px;
        }
      }
    }
  }
}

.switch {
  @media (min-width: $desktop) {
    position: relative;
    width: 55px;
    height: 28px;
    border: 1px solid $primary-color;
    border-radius: 50px;
  }
}

.switch > span {
  position: absolute;
  pointer-events: none;
}

.switch > span.on-lang {
  @media (min-width: 320px) {
    top: 6px;
    left: 6px;
  }

  @media (min-width: 330px) {
    left: 10px;
  }

  @media (min-width: 340px) {
    left: 10px;
  }

  @media (min-width: $tablet) {
    top: 5px;
    left: 7px;
  }
  @media (min-width: $desktop) {
    left: 5px;
    top: 2px;
  }
}

.switch > .off-lang {
  @media (min-width: 320px) {
    left: 38px;
    top: 5px;
  }

  @media (min-width: 330px) {
    left: 44px;
  }

  @media (min-width: $tablet) {
    left: 44px;
    top: 5px;
  }

  @media (min-width: $desktop) {
    left: 25px;
    top: 2px;
  }
}

.switch > span.off {
  right: 0;
  @media (min-width: $tablet) {
    top: 6px;
  }
  @media (min-width: $desktop) {
    left: 30px;
    top: 3px;
  }
}

.check-toggle {
  margin-left: -9999px;
  visibility: hidden;
}

.check-toggle + label {
  display: block;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  width: 86px;
  height: 44px;
  top: 0;
  position: absolute;
  @media (min-width: $desktop) {
    height: 28px;
    width: 55px;
  }
}

input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + span:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
}

input.check-toggle-round-flat + span:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 20px;
  height: 20px;
  background-color: #fff;
}

.flag-ua {
  background-image: url("../images/ua_flag-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  @media (min-width: 320px) {
    height: 28px;
  }

  @media (min-width: 330px) {
    height: 32px;
  }

  @media (min-width: 375px) {
    height: 32px;
    width: 32px;
  }

  @media (min-width: $desktop) {
    height: 20px;
    width: 20px;
  }
}

.lang-size {
  text-transform: uppercase;
  color: $primary-color;
  display: block;
  font-weight: 800;
  width: 28px;
  height: 20px;

  @media (min-width: 320px) {
    font-size: 19px;
  }

  @media (min-width: 375px) {
    left: -2px;
    font-size: 20px;
  }
  @media (min-width: $tablet) {
    width: 30px;
    height: 20px;
  }

  @media (min-width: $desktop) {
    width: 22px;
    height: 16px;
    font-size: 16px;
    position: absolute;
  }
}

.flag-en {
  background-image: url("../images/en_flag-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  @media (min-width: 320px) {
    top: 6px;
    left: 6px;
    width: 28px;
    height: 30px;
  }

  @media (min-width: 375px) {
    left: 7px;
    top: 6px;
  }

  @media (min-width: 380px) {
    top: 6px;
  }

  @media (min-width: $tablet) {
    height: 32px;
    width: 32px;
    left: 5px;
    top: 4px;
  }
  @media (min-width: $desktop) {
    height: 20px;
    width: 20px;
    left: 3px;
    top: 3px;
  }
}

input.check-toggle-round-flat:checked ~ .on {
  background-image: none;
}

input.check-toggle-round-flat:checked ~ .off-lang {
  text-indent: -99999px;
}

input.check-toggle-round-flat:not(:checked) ~ .on-lang {
  text-indent: -99999px;
}

input.check-toggle-round-flat:not(:checked) ~ .off {
  background-image: none;
}
