$primary-color: #045c6f;
$red: #d11f2a;
$black: #070707;
$white: #fff;
$background: #cfe4e6;

$primary-font: "Nunito", sans-serif;

$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;
$full: 1920px;

$big-br: 8px;
$small-br: 4px;
