$primary-color: #045c6f;
$red: #d11f2a;
$black: #070707;
$white: #fff;
$background: #cfe4e6;
$light-green: #eff8f9;
$red-hovered: #aa0610;
$red-pressed: #960b13;
$violet-light: #9747ff;
$paws-patern: #e0eaf2;

$primary-font: "Nunito", sans-serif;

$mobile: 375px;
$tablet: 768px;
$small-desktop: 1024px;
$desktop: 1439px;
$full: 1920px;

$big-br: 8px;
$small-br: 4px;
