$primary-color: #045C6F;
$red: #D11F2A;
$black: #070707;
$white: #fff;
$background: #CFE4E6;

$primary-font: "Nunito", sans-serif;

$mobile: 575.98px; //320-575
$tablet2: 991.98px; //576-991
$desktop: 1440px; //992-1440
$full: 1920px; //1441-1920

$big-br: 8px;
$small-br: 4px;