@import "../variables";

.friends-clubs-item {

  @media screen and (min-width: 320px) {
    width: 209px;
  }

  @media screen and (min-width: $mobile) {
    width: 158px;
  }

  @media screen and (min-width: $tablet) {
    width: 218px;
    height: 287px;
  }

  @media screen and (min-width: 992px) {
    width: 214px;
    height: 282px;
  }

  @media screen and (min-width: $desktop) {
    height: 348px;
  }

  @media screen and (min-width: $desktop) {
    width: 264px;
  }


  .image {
    border-radius: 5px;

    @media screen and (min-width: 320px) {
      margin-bottom: 11px;
    }

    @media screen and (min-width: $mobile) {
      margin-bottom: 8px;
    }

    @media screen and (min-width: $tablet) {
      margin-bottom: 12px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 20px;
    }
  }

  .title {
    font-weight: 800;
    text-align: center;

    @media screen and (min-width: 320px) {
      font-size: 14px;
      line-height: 20px;
    }

    @media screen and (min-width: $mobile) {
      font-size: 10px;
      line-height: 13px;
    }

    @media screen and (min-width: $tablet) {
      font-size: 14px;
      line-height: 18px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.nine-elem {
  display: none;
}

.nine-elem + .friends-clubs-item:nth-child(2n+2) {
  display: none;
}




