@import "../variables";

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 9999;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 156px;
}

/* Анімація для лап */
@keyframes pawAnimation {
  0% {
    fill: #ffffff;
  }
  25% {
    fill: #045c6f;
  }
  50% {
    fill: #ffffff;
  }
  75% {
    fill: #ffffff;
  }
  100% {
    fill: #ffffff;
  }
}

/* Додаємо анімацію до кожної лапи SVG */
.paw-1 {
  animation: pawAnimation 4s infinite;
  animation-delay: 0s; /* Початок анімації */
}

.paw-2 {
  animation: pawAnimation 4s infinite;
  animation-delay: 1s; /* Затримка перед анімацією */
}

.paw-3 {
  animation: pawAnimation 4s infinite;
  animation-delay: 2s; /* Затримка перед анімацією */
}

.paw-4 {
  animation: pawAnimation 4s infinite;
  animation-delay: 3s; /* Затримка перед анімацією */
}
