@import "../variables";

.one-card-news {
    &__news-section__img img  {
        height: 207px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 24px;
        @media screen and (min-width: $desktop) {
            height: 332px;
        }
    }
    &__news-section__content-wrapper {
        display: flex;
        flex-direction: column;
        height: 205px;
    }
    &__news-section__name {
        font-weight: 800;
        font-size: 20px;
        line-height: 120%;
        color: $primary-color;
        margin-bottom: 16px;
    }
    &__news-section__text{
        font-size: 16px;
        font-weight: 500;
        line-height: 1.3;
        overflow: hidden;
        max-height: -webkit-min-content;
        max-height: -moz-min-content;
        max-height: min-content;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        @media screen and (min-width: $tablet) {
            -webkit-line-clamp: 5;
        }
    }
    &__news-section__button {
        margin-top: auto;
    }
}
