@import "../variables";

.breeder-item {
  &__item {
    background-color: #eff8f9;
    padding: 16px;
    box-shadow: 0px 1px 12px 0px #0000001f;
    border-radius: 8px;
    width: 343px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
      width: 340px;
      padding: 14px;
    }
    @media screen and (min-width: $desktop) {
      width: 360px;
      padding: 24px;
    }

    img {
      object-fit: cover;
      overflow: hidden;
      border-radius: 8px;
      width: 312px;
      height: 268px;
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  &__name {
    color: $black;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 16px;
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    margin-top: 8px;
    svg {
      fill: $red;
    }
  }

  &__button {
    margin-top: 16px;
    gap: 4px;
  }
}
