@import "../variables";

.one-card-event {
    background-color: $white;

    @media screen and (min-width: $tablet) {
        padding-top: 42px;
    }

    @media screen and (min-width: $desktop) {
        padding-top: 80px;
    }

    &__heading-container {
        @media screen and (min-width: $desktop) {
            margin-bottom: 24px;
        }
    }

    &__description {
        font-weight: 500;
        font-size: 16px;
        line-height: 131%;
        color: $black;
        margin-bottom: 32px;

        @media screen and (min-width: $tablet) {
            font-size: 20px;
            line-height: 125%;
            margin-bottom: 24px;
        }

        @media screen and (min-width: $desktop) {
            width: 820px;
            margin-bottom: 40px;
        }
    }
    &__news-section__item {
        margin-bottom: 16px;
        box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
        @media screen and (min-width: $tablet) {
            display: flex;
            gap: 24px;
            padding: 24px;
            margin-bottom: 24px;
        }
        @media screen and (min-width: $desktop) {
            gap: 32px;
            margin-bottom: 40px;
        }
    }

    &__news-section__name {
        font-weight: 800;
        font-size: 20px;
        line-height: 120%;
        color: $primary-color;
        margin-bottom: 16px;
        @media screen and (min-width: $desktop) {
            font-size: 24px;
        }
    }
    &__news-section__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 131%;
        color: $black;
        margin-bottom: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        @media screen and (min-width: $tablet) {
            -webkit-line-clamp: 6;
        }
        @media screen and (min-width: $desktop) {
            -webkit-line-clamp: 10;
         }
    }

    &__news-section__img img {
        border-radius: 8px;
        margin-bottom: 24px;
        @media screen and (min-width: $tablet) {
            width: 340px;
            object-fit: cover;
            height: 289px;
            margin-bottom: 0;
        }
        @media screen and (min-width: $desktop) {
            width: 528px;
            height: 352px;
        }
    }
    &__news-section__content-wrapper {
        @media screen and (min-width: $tablet) {
            display: flex;
            flex-direction: column;
            height: 289px;
        }
        @media screen and (min-width: $desktop) {
            height: 352px;
        }
    }

    &__news-section__button {
        gap: 8px;
        padding: 10px 14px;
        @media screen and (min-width: $tablet) {
           margin-top: auto;
        }
    }

    &__news-section__date-time {
        display: flex;
        justify-content: space-between;
        padding-bottom: 16px;
        color: $red;
    }

    &__news-section__date-container,
    &__news-section__time-container {
        display: flex;
        align-items: center;
        gap: 11px;
    }

    &__news-section__date-time p {
        font-weight: 800;
        font-size: 20px;
        line-height: 100%;
    }
}