@import "../variables";

.one-card-news {
    &__news-section__img {
        position: relative;
        height: 202px;
        padding: 0 0 58% 0;
        @media screen and (min-width: $desktop) {
            height: 332px;
        }
    }

    &__news-section__img img  {
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
        border-radius: 8px;
    }
    &__news-section__content-wrapper {
        display: flex;
        flex-direction: column;
        height: 218px;
        margin-top: 16px;
        @media screen and (min-width: $desktop) {
            height: 207px;
            margin-top: 24px;
        }
    }
    &__news-section__name {
        font-weight: 800;
        font-size: 20px;
        line-height: 120%;
        color: $primary-color;
        margin-bottom:  12px;
    }
    &__news-section__text{
        font-size: 16px;
        font-weight: 500;
        line-height: 1.3;
        overflow: hidden;
        max-height: -webkit-min-content;
        max-height: -moz-min-content;
        max-height: min-content;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        @media screen and (min-width: $tablet) {
            -webkit-line-clamp: 5;
        }
    }
    &__news-section__button {
        margin-top: auto;
        gap: 8px;
        padding: 10px 14px;
    }
}
