@import "../variables";

.photographs-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.12);
  padding: 20px;
  gap: 12px;

  @media screen and (min-width: 320px) {
    width: 209px;
    height: 282px;
  }

  @media screen and (min-width: 375px) {
    width: 158px;
    height: 209px;
  }

  @media screen and (min-width: $tablet) {
    width: 218px;
    height: 287px;
  }

  @media screen and (min-width: $desktop) {
    width: 264px;
    height: 348px;
  }

  .full-name {
    display: flex;
    flex-direction: column;
    gap: 0;

    @media screen and (min-width: 320px) {
      font-size: 18px;
    }

    @media screen and (min-width: $tablet) {
      gap: 10px;
    }

    .name {
      text-align: center;
    }
  }
}